@import '~@gio-design/tokens/dist/tokens.less';

.gio-pagination {
  .ant-pagination-item-link,
  li {
    background-color: @background-color-pagination-base;
    border: 0;
    border-radius: @border-radius-circle;
  }

  .ant-pagination-item-active {
    a {
      color: #fff;
      background-color: @background-color-pagination-base;
      background-color: @background-color-pagination-active;
      border: 0;
      border-radius: @border-radius-circle;
    }
  }
}
