@import '../../stylesheet/index.less';

@date-selector-prefix-cls: ~'@{component-prefix}-date-picker';
@date-selector-inner-prefix-cls: ~'@{component-prefix}-dropdown-inner';

.@{date-selector-prefix-cls} {
  filter: drop-shadow(0 8px 24px rgba(36, 46, 89, 0.1));

  .@{date-selector-inner-prefix-cls} {
    width: 280px;
  }
}
