@import '../../stylesheet/index.less';

@prefix-cls: ~'@{component-prefix}-date-picker';
@inner-cls: ~'@{component-prefix}-dropdown-inner';

.@{prefix-cls} {
  filter: drop-shadow(0 8px 24px rgba(36, 46, 89, 0.1));

  .@{inner-cls} {
    width: 280px;
  }
}
