@import './base.less';

.gio-select-option {
  max-width: 100%;
  height: 40px;
  padding: 0 25px 0 16px;
  overflow: hidden;
  color: @color-font-list-primary-normal;
  font-size: 14px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  &:not(.group) {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: @color-background-list-single-hover;
    }
  }

  &.selected {
    color: @color-font-list-primary-active;
    background-color: @color-background-list-single-active;
    &:hover {
      background-color: @color-background-list-single-hover;
    }
    .gio-list-option-title {
      color: @color-font-list-primary-active;
    }
    .gio-list-option-desc {
      color: @color-font-list-secondary-active;
    }
  }

  &.multiple {
    &.selected {
      color: @color-font-list-primary-normal;
      background-color: inherit;
      .gio-list-option-title {
        color: @color-font-list-primary-normal;
      }
      .gio-list-option-desc {
        color: @color-font-list-secondary-normal;
      }
    }
    &:hover {
      background-color: @color-background-list-multiple-hover;
    }
  }

  .gio-list-option-title {
    color: @color-font-list-primary-normal;
  }
  .gio-list-option-desc {
    color: @color-font-list-secondary-normal;
  }

  &.disabled {
    color: @color-font-list-primary-disable;
    background-color: @color-background-list-multiple-disable;
    cursor: not-allowed;
    .gio-list-option-title {
      color: @color-font-list-primary-disable;
    }
    .gio-list-option-desc {
      color: @color-font-list-secondary-disable;
    }
  }

  &.group {
    padding: 16px 15px 0 15px;
    font-size: 12px;
    line-height: inherit;
  }

  &.group:not(:nth-child(1)) {
    border-top: 1px solid #ebedf5;
  }

  &.indented {
    padding-left: 43px;
  }
}
