@import '../../stylesheet/variables/index.less';
@import (reference) '../../input/style/index.less';

@icon-prefix-cls: ~'@{component-prefix}-icon';
@form-prefix-cls: ~'@{component-prefix}-form';
@field-prefix-cls: ~'@{component-prefix}-field';
@input-prefix-cls: ~'@{component-prefix}-input';

// form tokens map
@info-color: @blue-3;
@validating-color: @gray-3;
@warning-color: @yellow-3;
@error-color: @red-3;
@success-color: @green-3;

@field-gap: 20px;
@field-gap-large: 24px;

.message-type(@type, @hasMsg: true, @hasBorder: false, @hasIcon: true) {
  @color: ~'@{type}-color';
  .@{input-prefix-cls}-content {
    border-color: if(@hasBorder, @@color, '');
  }

  .@{field-prefix-cls}-message {
    color: if(@hasMsg, @@color, '');
  }

  .@{field-prefix-cls}-children-icon {
    .@{icon-prefix-cls} {
      color: if(@hasIcon, @@color, '');
    }
  }
}

// field style
.@{field-prefix-cls} {
  display: flex;
  margin-bottom: @field-gap;

  &:last-child {
    margin-bottom: 0;
  }

  .@{form-prefix-cls}-large & {
    margin-bottom: @field-gap-large;
  }

  &&-has-error,
  &&-has-help,
  &&-has-feedback {
    margin-bottom: 0;
  }

  &&-has-error {
    .@{field-prefix-cls}-control {
      &-input {
        .@{input-prefix-cls} {
          border-color: @error-color;
        }
      }
    }
  }

  & &-label {
    flex-shrink: 0;
    padding-right: 12px;
    color: @gray-5;
    text-align: right;
    .text-h4();

    // label-align
    &.@{field-prefix-cls}-label-left {
      text-align: left;
    }

    > label {
      display: inline-flex;
      align-items: center;
      height: 36px;
    }

    &-required .@{field-prefix-cls}-label-marker {
      color: @color-font-form-required;
      // margin-left: 0.5em;
    }
  }

  & &-control {
    flex: 1;
    &-input {
      position: relative;
      display: inline-flex;
      align-items: center;
      width: 100%;
      min-height: 36px;

      .@{field-prefix-cls}-children-icon {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-flex;
        align-items: center;
        width: 24px;
        height: 36px;
      }
    }
  }

  &-message {
    color: @info-color;
    font-size: 12px;
  }

  &-feedback,
  &-help {
    min-height: 20px;
    color: @error-color;

    .@{form-prefix-cls}-large & {
      min-height: @field-gap-large;
    }
  }

  &[data-message-type='validating'] {
    .message-type(validating);
  }

  &[data-message-type='warning'] {
    .message-type(warning);
  }
  &[data-message-type='error'] {
    .message-type(error, true, true);
  }
  &[data-message-type='success'] {
    .message-type(success);
  }
}

// form layouts
.@{form-prefix-cls} {
  &&-label-right {
    .@{field-prefix-cls} {
      &-label {
        text-align: right;
      }
    }
  }

  // layouts
  &-horizontal {
    .@{field-prefix-cls} {
      flex-direction: row;

      &-label {
        width: 120px;
        text-align: right;
      }
    }
  }

  &-vertical {
    .@{field-prefix-cls} {
      flex-direction: column;

      &-label {
        margin-bottom: 8px;
        text-align: left;

        > label {
          height: auto;
        }
      }
    }
  }

  &-inline {
    .@{field-prefix-cls} {
      display: inline-flex;
      margin-right: 20px;
    }
  }
}
