@import '../../stylesheet/index.less';
@import '../../stylesheet/mixin/border.less';
@import '../../stylesheet//mixin/elevation.less';

@button-prefix-cls: ~'@{component-prefix}-button';
@icon-button-prefix-cls: ~'@{component-prefix}-icon-button';

@small-height: 30px;
@normal-height: 36px;

// ----------------------- Button Style --------------------------- //
.@{button-prefix-cls} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: @normal-height;
  padding: 7px 12px;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 20 / 14;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  .border(2, transparent);

  &_primary {
    color: @gray-0;
    background-color: @blue-2;
    .elevation(1);

    &:enabled:hover {
      background-color: @blue-3;
      .elevation(2);
    }

    &:disabled:not(.@{button-prefix-cls}_loading) {
      color: @gray-3;
      background-color: @gray-1;
      cursor: auto;
      .elevation(none);
    }

    &.@{button-prefix-cls}_loading {
      background-color: @blue-3;
      cursor: auto;
      .elevation(2);
    }
  }

  &_secondary {
    color: @gray-5;
    background-color: transparent;
    .border(2, @gray-2);

    &:enabled:hover {
      color: @blue-3;
      background-color: @gray-1;
    }

    &:disabled:not(.@{button-prefix-cls}_loading) {
      color: @gray-3;
      background-color: transparent;
      cursor: auto;
    }

    &.@{button-prefix-cls}_loading {
      color: @blue-3;
      background-color: @gray-1;
      cursor: auto;
    }
  }

  &_text {
    padding: 7px 8px;
    color: @gray-5;
    background-color: transparent;
    .border(2, transparent);
    &:enabled:hover {
      color: @blue-3;
      background-color: @gray-1;
    }
    &:disabled:not(.@{button-prefix-cls}_loading) {
      color: @gray-3;
      background-color: transparent;
      cursor: auto;
    }
    &.@{button-prefix-cls}_loading {
      color: @blue-3;
      background-color: @gray-1;
      cursor: auto;
    }
  }

  &_small {
    height: @small-height;
    padding: 4px 12px;
    line-height: 20 / 14;
    &.@{button-prefix-cls}_text {
      padding: 4px 8px;
    }
  }

  // ripple effect
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat 50% radial-gradient(circle, currentColor 10%, transparent 10%);
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
    content: '';
    pointer-events: none;
  }

  &:enabled:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
  }

  &:enabled:active {
    .elevation(1);
  }

  .svg() {
    & svg {
      width: 1em;
      height: 1em;
    }
  }

  &-prefix-icon {
    display: inherit;
    margin-right: @space-2;
    .svg();
  }
  &-suffix-icon {
    display: inherit;
    margin-left: @space-2;
    .svg();
  }
}
// ----------------------- Button Style --------------------------- //

// ----------------------- IconButton Style --------------------------- //
.@{icon-button-prefix-cls} {
  padding: 5px 10px;

  &.@{button-prefix-cls}_small {
    padding: 3px 7px;
  }
  & > .@{button-prefix-cls}-prefix-icon,
  & > .@{button-prefix-cls}-suffix-icon {
    margin: 0;
  }
}
// ----------------------- IconButton Style --------------------------- //
