@import (reference) '../../stylesheet/variables/index.less';

@card-prefix-cls: ~'@{component-prefix}-card';
@card-meta-prefix-cls: ~'@{component-prefix}-card-meta';

.@{card-prefix-cls} {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 16px;
  overflow: hidden;
  background-color: @gray-0;
  border: 1px solid @gray-2;
  border-radius: 8px;
  &-clickable:not(&-disabled):hover {
    .elevation(2);
    cursor: pointer;
  }
  &-disabled {
    color: @gray-3;
    background-color: @gray-1;
  }
  &-full-width-content {
    padding: 0;
    .@{card-meta-prefix-cls} {
      padding: 16px;
    }
  }
  &-disabled &-title,
  &-disabled .@{card-meta-prefix-cls}-title,
  &-disabled .@{card-meta-prefix-cls}-description {
    color: @gray-3;
  }
}

.@{card-meta-prefix-cls} {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  color: @gray-4;
  .text-body2();

  &-detail {
    display: grid;
    flex: 1 1 100%;
    overflow: hidden;
  }
  &-image {
    flex: none;
    margin-right: 16px;
  }
  &-title {
    .text-h4();
    color: @gray-5;
  }
  &-description {
    margin-top: 4px;
    color: @gray-4;
    .text-body2();
  }
  &-action {
    flex: none;
    align-self: flex-start;
    margin-left: 16px;
  }
  &-title,
  &-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
