@button-width: 100px;
.tooltip-top {
  margin-left: @button-width;
  & > .tooltipSpan {
    margin: 0 10px;
  }
}

.tooltip-left {
  float: left;
  width: @button-width;
  & > .tooltipSpan {
    margin: 10px 0;
  }
}
.tooltip-buttom {
  margin-left: @button-width;
  & > .tooltipSpan {
    margin: 0 10px;
  }
}
.tooltip-right {
  width: 110px;
  margin-left: 450px;
  & > .tooltipSpan {
    margin: 10px 0;
  }
}
.tooltipSpan {
  display: inline-block;
  padding: 8px;
  border: 1px solid #adadad;
  width: @button-width;
  text-align: center;
}
