@import './mixin/icon.less';

@icon-prefix: ~'gio-icon';

.@{icon-prefix} {
  .icon-mixin();
}
.@{icon-prefix}-rotating {
  display: inline-block;
  animation: rotating 1s linear infinite;

  &::before {
    display: inline-block;
    animation: rotating 1s linear infinite;
  }
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
