@import '~@gio-design/tokens/dist/variables.less';

// The prefix to use for components classes
@component-prefix: 'gio';
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
// vertical margins
@margin-lg: 24px; // containers
@margin-md: 16px; // small containers and buttons
@margin-sm: 12px; // Form controls and items
@margin-xs: 8px; // small items
@margin-xss: 4px; // more small

@border-color-base: #a3adc8;
@border-color-split: hsv(0, 0, 94%); // split border inside a component
@border-color-inverse: #fff;
@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border
@border-color-disabled: #dfe2ed;

@line-height-base: 1.5715;
// @mode: compact;
@font-size-base: 14px;

// Base Text
@text-color-base: #313e75;
@text-color-disabled: #313e75;
@text-font-size-base: 14px;
@text-lint-height-base: 22px;

//Background Color
@background-color-base: #fff;
@background-color-disabled: #f7f8fc;
