.DS_Store
.cache
.docz
.rpt2_cache
.tmp
.vscode/*
!.vscode/settings.json
build
.umi
dist
**/dist/*.html
**/dist/*.js
**/dist/*.json
**/dist/*.less
**/dist/*.css
**/dist/*.map
**/es/*.js
**/es/*.json
**/es/*.less
**/es/*.css
**/es/*.map
**/es/*.ts
lib
es
node_modules
lerna-debug.log
junit.xml
report.*.json
yarn-error.log
.temp.less