name: GrowingIO Design Preview

trigger: none

pr:
  autoCancel: true
  branches:
    exclude:
      - gh-pages

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: deploy
    jobs:
      - job: deploy_preview
        steps:
          - checkout: self
            displayName: 'Checkout'
            clean: true
            fetchDepth: 1
          - task: NodeTool@0
            displayName: 'Install Node@12.x'
            inputs:
              versionSpec: '12.13.1'
          - script: yarn bootstrap
            displayName: 'Bootstrap all packages'
          - script: yarn build
            displayName: 'Build all packages'
          - script: yarn build:website
            displayName: 'Build website'
          - script: |
              export DEPLOY_DOMAIN=https://deploy-preview-$(System.PullRequest.PullRequestNumber)--gio-design.surge.sh
              npx surge --project ./packages/website/dist --domain $DEPLOY_DOMAIN --token $(SURGE_TOKEN)
            displayName: 'Deploy website'
          - task: GitHubComment@0
            displayName: 'Comment on PR'
            inputs:
              gitHubConnection: 'growingio'
              repositoryName: '$(Build.Repository.Name)'
              id: '$(System.PullRequest.PullRequestNumber)'
              comment: 'Deploy preview for (gio-design)[https://deploy-preview-$(System.PullRequest.PullRequestNumber)--gio-design.surge.sh] ready!'

      - job: deploy_preview_failed
        dependsOn: deploy_preview
        condition: failed()
        steps:
          - task: GitHubComment@0
            displayName: 'Comment on PR'
            inputs:
              gitHubConnection: 'growingio'
              repositoryName: '$(Build.Repository.Name)'
              id: '$(System.PullRequest.PullRequestNumber)'
              comment: 'Deploy preview for gio-design failed.'