@import '~@gio-design/tokens/dist/variables.less';
@import '../../../stylesheet/theme.less';

@import './mixin';

@btn-prefix-cls: ~'@{component-prefix}-btn';
@iconfont-css-prefix: gioicon;
// for compatible
@btn-assist-color: @text-color-base;
@btn-assist-bg: none;
@btn-assist-border: none;

// Button styles
// -----------------------------
.@{btn-prefix-cls} {
  line-height: @line-height-base;

  .btn;
  .btn-primary;
  
  > span {
    display: inline-block;
  }

  &-secondary {
    .btn-secondary;
  }

  &-assist {
    .btn-assist;
  }

  &-text {
    .btn-text;
  }

  &::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    display: none;
    border-radius: inherit;
    opacity: 0.35;
    transition: opacity 0.2s;
    content: '';
    pointer-events: none;
  }

  .@{iconfont-css-prefix} {
    transition: margin-left 0.3s @ease-in-out;
    &.@{iconfont-css-prefix}-plus,
    &.@{iconfont-css-prefix}-minus {
      > svg {
        shape-rendering: optimizeSpeed;
      }
    }
  }

  &&-loading {
    position: relative;
    &:not([disabled]) {
      pointer-events: none;
    }

    &::before {
      display: block;
    }
  }

  & > &-loading-icon {
    margin-right: @margin-xs;
    svg {
      -webkit-animation: loadingCircle 1s infinite linear;
      animation: loadingCircle 1s infinite linear;
    }
    &:only-child {
      margin-right: 0;
    }
  }

  &-icon-only {
    .btn-square(@btn-prefix-cls);
    vertical-align: -0.5px;
  }

  &:focus > span,
  &:active > span {
    position: relative;
  }

  > svg + span,
  > span + svg {
    margin-left: @margin-xs;
  }

  > .@{iconfont-css-prefix} + span,
  > span + .@{iconfont-css-prefix} {
    margin-left: @margin-xs;
  }

  &-background-ghost {
    color: @color-text-button-default-ghost;
    background: @color-background-button-default-ghost !important;
    border-color: @color-border-button-default-ghost;
    svg {
      color: @color-text-button-default-ghost;
      path {
        fill: @color-text-button-default-ghost;
      }
    }
  }

  &-background-ghost&-text {
  }

  &-block {
    width: 100%;
  }

  &:empty {
    display: inline-block;
    width: 0;
    visibility: hidden;
    content: '\a0';
  }
}
