// mixins for button
// ------------------------

.square(@size;) {
  width: @size;
  height: @size;
}

.button-size(@height; @padding-horizontal; @font-size; @border-radius) {
  @padding-vertical: max(
    round((@height - @font-size * @line-height-base) / 2 * 10) / 10 - @border-width-base,
    0
  );
  height: @height;
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  border-radius: @border-radius;
}

.button-disabled(@color: @btn-disable-color; @background: @btn-disable-bg; @border: @btn-disable-bg) {
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      .button-color(@color; @background; @border);

      text-shadow: none;
      box-shadow: none;
    }
  }
}

.button-variant-main(@color; @background) {
  .button-color(@color; @background; @background);
  
  text-shadow: @btn-text-shadow;
  box-shadow: none;

  &:hover,
  &:focus {
    .button-color(@color; @btn-main-bg-hover; @btn-main-bg-hover);
  }

  &:active {
    .button-color(@color; @btn-main-bg-click; @btn-main-bg-click);
  }

  .button-disabled();
}

.button-variant-other(@color; @background; @border) {
  .button-color(@color; @background; @border); 
  &:hover,
  &:focus {
    .button-color(@color; @btn-default-bg-hover; @btn-default-bg-hover);
  }
  &:active {
    .button-color(@color; @btn-default-bg-click; @btn-default-bg-click);
  }
  .button-disabled();
}

.button-variant-aid() {
  .button-color(@btn-aid-color; @btn-aid-bg; @btn-aid-border);
  text-shadow: none;
  border: none;
  &:hover,
  &:focus {
    .button-color(@btn-aid-color; @btn-default-bg-hover; @btn-default-bg-hover);
  }
  &:active {
    .button-color(@btn-aid-color; @btn-default-bg-click; @btn-default-bg-click);
  }
  .button-disabled(@btn-disable-color; @btn-aid-bg; @btn-aid-border);
}

.button-color(@color; @background; @border) {
  color: @color;
  background: @background;
  border-color: @border; // a inside Button which only work in Chrome
  // http://stackoverflow.com/a/17253457
  > a:only-child {
    color: currentColor;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      content: '';
    }
  }
}

// Base styles of buttons
// --------------------------------------------------
.btn() {
  position: relative;
  display: inline-block;
  font-weight: @btn-font-weight;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: @btn-border-width @btn-border-style transparent;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s @ease-in-out;
  user-select: none;
  touch-action: manipulation;
  svg {
    width: 16px;
    height: 16px;
    margin-right: 0 !important;
  }
  .button-size(@btn-height-base; @btn-padding-horizontal-base; @font-size-base; @btn-border-radius-base);
  > .@{iconfont-css-prefix} {
    line-height: 1;
  }
  &,
  &:active,
  &:focus {
    outline: 0;
  }
  &:not([disabled]):hover {
    text-decoration: none;
  }
  &:not([disabled]):active {
    outline: 0;
    box-shadow: none;
  }
  &[disabled] {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }
  &-lg {
    .button-size(@btn-height-lg; @btn-padding-horizontal-lg; @btn-font-size-lg; @btn-border-radius-base);
  }
  &-sm {
    .button-size(@btn-height-sm; @btn-padding-horizontal-sm; @btn-font-size-sm; @btn-border-radius-sm);
  }
}
// main button style
.btn-main() {
  .button-variant-main(@btn-main-color, @btn-main-bg);
}
// default button style
.btn-default() {
  .button-variant-other(@btn-default-color; @btn-default-bg; @btn-default-bg);
}
// aid button style
.btn-aid() {
  .button-variant-aid();
}

// text button style
.btn-text() {
  .button-color(@btn-text-color; transparent; transparent);
  box-shadow: none;
  &:hover,
  &:focus {
    color: @btn-text-color-hover;
    background: transparent;
    border-color: transparent;
  }

  &:active {
    color: @btn-text-color-hover;
    background: transparent;
    border-color: transparent;
  }

  .button-disabled(@btn-disable-color; transparent; transparent);
}

// square button: the content only contains icon
.btn-square(@btnClassName: btn) {
  .square(@btn-square-size);
  .button-size(@btn-square-size; 0; @btn-square-only-icon-size; @btn-border-radius-base);
  & > * {
    font-size: @btn-square-only-icon-size;
  }
  &.@{btnClassName}-lg {
    .square(@btn-square-size-lg);
    .button-size(@btn-square-size-lg; 0; @btn-square-only-icon-size-lg; @btn-border-radius-base);
    & > * {
      font-size: @btn-square-only-icon-size-lg;
    }
  }
  &.@{btnClassName}-sm {
    .square(@btn-square-size-sm);
    .button-size(@btn-square-size-sm; 0; @btn-square-only-icon-size-sm; @btn-border-radius-base);
    & > * {
      font-size: @btn-square-only-icon-size-sm;
    }
  }
}
