.tree-demo {
  width: 300px;
  height: auto;
  border: 1px dashed #333333;
  padding: 20px;
  float: left;
  margin-right: 10px;
  .title-icon {
    float: right;
    position: relative;
    top: 13px;
    right: 8px;
  }
}