@import '../../../stylesheet/index.less';

@alert-prefix-cls-legacy: ~'@{component-prefix}-alert-legacy';

.@{alert-prefix-cls-legacy} {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 16px;
  border-radius: 6px;
  transition: all ease 0.8s;

  & &-icon {
    flex-shrink: 0;
    align-self: flex-start;
    height: 100%;
    padding-top: 1px;
  }

  & .@{alert-prefix-cls-legacy}-content {
    flex: 1;
    margin: 0 8px;
    color: @color-text-alert-content;
    font-size: @size-font-14;
    font-family: @font-family-primary;
    line-height: 22px;

    & .@{alert-prefix-cls-legacy}-content-title {
      width: 100%;
      overflow: hidden;
      font-weight: @weight-font-medium;
      text-overflow: ellipsis;
    }

    & .@{alert-prefix-cls-legacy}-content-description {
      width: 100%;
      letter-spacing: 0;
    }
  }

  & .@{alert-prefix-cls-legacy}-closeIcon {
    flex-shrink: 0;
    align-self: flex-start;
    font-weight: @weight-font-semi-bold;
    cursor: pointer;
  }
}

.@{alert-prefix-cls-legacy}-close {
  display: none;
}

.@{alert-prefix-cls-legacy}-info {
  background-color: @color-background-alert-information;

  & .@{alert-prefix-cls-legacy}-closeIcon {
    svg {
      fill: @palette-blue-6;
    }
  }

  & .@{alert-prefix-cls-legacy}-icon {
    svg {
      fill: @palette-blue-6;
    }
  }
}

.@{alert-prefix-cls-legacy}-success {
  background-color: @color-background-alert-success;

  & .@{alert-prefix-cls-legacy}-closeIcon {
    fill: @palette-green-6;
  }

  & .@{alert-prefix-cls-legacy}-icon {
    fill: @palette-green-6;
  }
}

.@{alert-prefix-cls-legacy}-warning {
  background-color: @color-background-alert-warning;

  & .@{alert-prefix-cls-legacy}-closeIcon {
    svg {
      fill: @palette-yellow-6;
    }
  }

  & .@{alert-prefix-cls-legacy}-icon {
    svg {
      fill: @palette-yellow-6;
    }
  }
}

.@{alert-prefix-cls-legacy}-error {
  background-color: @color-background-alert-error;

  & .@{alert-prefix-cls-legacy}-closeIcon {
    fill: @palette-red-6;
  }

  & .@{alert-prefix-cls-legacy}-icon {
    fill: @palette-red-6;
  }
}

.@{alert-prefix-cls-legacy}-small {
  padding: 8px 16px;

  & .@{alert-prefix-cls-legacy}-content {
    font-size: @size-font-12;
  }
}
