@import (reference) '../../stylesheet/variables/index.less';

@modal-prefix-cls: ~'@{component-prefix}-modal';

.@{modal-prefix-cls} {
  @modal-radius: 8px;
  position: relative;
  margin: 100px auto;

  &-normal {
    width: fit-content;
  }

  &-fixed {
    width: 500px;
  }

  &-full {
    width: 100%;
    height: 100%;
    margin: 0;

    .@{modal-prefix-cls} {
      &-content {
        height: 100%;
        max-height: none;
      }

      &-body {
        flex: 1;
        max-width: 1320px;
      }

      &-header,
      &-footer {
        flex-shrink: 0;
      }
    }
  }

  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @z-index-modal;
    height: 100%;
    background-color: @gray-5;
    opacity: 0.8;

    &-hidden {
      display: none;
    }
  }

  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @z-index-modal;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
  }

  &-header {
    padding: 20px 36px;
    background: @gray-0;
    border-radius: @modal-radius @modal-radius 0 0;
  }

  &-footer {
    padding: 20px 36px;
    text-align: right;
    border-radius: 0 0 @modal-radius @modal-radius;
  }

  &__footer {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;

    .@{modal-prefix-cls}__btn-close {
      margin-right: 8px;
    }
  }

  &-title {
    position: relative;
    overflow: hidden;
    color: @gray-5;
    .text-h3();
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 140px;
    max-height: calc(100vh - 200px);
    background-color: @gray-0;
    background-clip: padding-box;
    border: 1px solid @gray-2;
    border-radius: 8px;
    @modal-full-height: 100vh;
    .elevation(2);
  }

  &-close {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    color: @gray-5;
    background-color: @gray-0;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  &__close-disabled {
    color: @gray-0;
    cursor: not-allowed;
  }

  &-body {
    padding: 8px 36px;
    overflow-y: auto;
    color: @gray-5;
    .scrollbar();
  }
}
