@import '../variables/index.less';

.border(@radius: 2, @color: @gray-2) {
  border: 1px solid @color;
  -webkit-border-radius: @radius * 2px;
  -moz-border-radius: @radius * 2px;
  border-radius: @radius * 2px;
}
