@import '../index.less';
@import './typography.less';
@import './elevation.less';
@import './border.less';
@import './scrollBar.less';

.reset-component() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: @text-color-base;
  font-size: @text-font-size-base;
  line-height: @text-lint-height-base;
  list-style: none;
}
