.scrollbar(@x: hidden, @y: overlay) {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(173, 178, 194, 0.6) rgba(255, 255, 255, 0);

  &:hover {
    overflow-x: scroll;
    overflow-x: @x;
    overflow-y: scroll;
    overflow-y: @y;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: transparent;
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track-piece {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(173, 178, 194, 0.6);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(123, 129, 156, 0.6);
  }
}
