@headline-font-weight: 500;
@body-font-weight: 400;

.typography-headline-1() {
  font-size: 20px;
  font-weight: @headline-font-weight;
  line-height: 32px;
}

.typography-headline-2() {
  font-size: 18px;
  font-weight: @headline-font-weight;
  line-height: 28px;
}

.typography-headline-3() {
  font-size: 16px;
  font-weight: @headline-font-weight;
  line-height: 24px;
}

.typography-headline-4() {
  font-size: 14px;
  font-weight: @headline-font-weight;
  line-height: 22px;
}

.typography-headline-5() {
  font-size: 12px;
  font-weight: @headline-font-weight;
  line-height: 20px;
}

.typography-body-1() {
  font-size: 14px;
  font-weight: @body-font-weight;
  line-height: 22px;
}

.typography-body-2() {
  font-size: 12px;
  font-weight: @body-font-weight;
  line-height: 20px;
}
