.text-h1() {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.text-h2() {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.text-h3() {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.text-h4() {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.text-h5() {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.text-body1() {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.text-body2() {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
