@import '../../stylesheet/variables/index.less';

@tabs-prefix-cls: ~'@{component-prefix}-tabs-new';

.@{tabs-prefix-cls} {
  display: inline-block;
  width: inherit;
  height: inherit;
  overflow-y: auto;
  .scrollbar(@x: overlay, @y: overlay);

  &-tablist {
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 4px;
    user-select: none;
  }

  &-small {
    height: 30px;
  }
  &-normal {
    height: 36px;
  }

  &-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    color: @gray-5;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    size: 14px;
    .text-body1();
    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      border-radius: 3px;
      content: '';
    }
    &:hover {
      color: @blue-3;
      &-prefix-icon {
        color: @blue-3;
        fill: @blue-3;
      }
    }
    &-active {
      color: @blue-3;
      &-prefix-icon {
        color: @blue-3;
        fill: @blue-3;
      }
      &::after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: @blue-3;
        border-radius: 3px;
        content: '';
      }
    }
    &-disabled {
      color: @gray-3;
      cursor: not-allowed;
      &:hover {
        color: @gray-3;
      }
    }
    &-disabled&-active {
      color: @gray-3;
      cursor: not-allowed;
      &:hover {
        color: @gray-3;
      }
      &::after {
        display: none;
      }
    }
    .svg() {
      & svg {
        width: 1em;
        height: 1em;
      }
    }
    &-prefix-icon {
      display: inherit;
      margin-right: 8px;
      .svg();
    }
    &-prefix-icon-no-tab {
      display: inherit;
      .svg();
    }
  }
}
