.gio-ui-ellipsis {
  display: inline-block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
  &__line--2 {
    -webkit-line-clamp: 2;
  }
  &__line--1 {
    -webkit-line-clamp: 1;
  }
}
.gio-ui-single-line-ellipsis {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}
