@import '../../../stylesheet/index.less';

@import './mixin';

@btn-prefix-cls: ~'@{component-prefix}-btn';
@iconfont-css-prefix: gio-icon;

@btn-height-lg: @size-field-large;
@btn-height-sm: @size-field-small;
@btn-height-base: @size-field-normal;
@btn-square-size: @btn-height-base;
@btn-square-size-lg: @btn-height-lg;
@btn-square-size-sm: @btn-height-sm;
@btn-square-size-mini: @size-field-mini;

// for compatible

// Button styles
// -----------------------------
.@{btn-prefix-cls} {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-weight: @weight-font-regular;
  line-height: 1.5715;
  white-space: nowrap;
  text-align: center;
  text-shadow: none;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &,
  &:active,
  &:focus {
    outline: 0;
  }
  &:not([disabled]):hover {
    text-decoration: none;
  }
  &:not([disabled]):active {
    outline: 0;
  }
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    > * {
      pointer-events: none;
    }
  }

  .button-size(@btn-height-base; @size-spacing-m; @size-font-14; @radius-border-small);

  &-large {
    .button-size(@btn-height-lg; @size-spacing-m; @size-font-14; @radius-border-small);
  }

  &-small {
    .button-size(@btn-height-sm; @size-spacing-s; @size-font-14; @radius-border-small);
  }

  &::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    display: none;
    border-radius: inherit;
    opacity: 0.35;
    transition: opacity 0.2s;
    content: '';
    pointer-events: none;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
    content: '';
    pointer-events: none;
  }

  &:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
  }

  > span {
    display: inline-block;
  }

  // 主要按钮
  &-primary {
    .btn-primary;
  }

  // 次要按钮
  &-secondary {
    .btn-secondary;
  }

  // 文本按钮
  &-text {
    .btn-text;
  }

  // .gio-icon
  .@{iconfont-css-prefix} {
    svg {
      width: 14px;
      height: 14px;
      margin-right: 0 !important;
    }
    transition: margin-left 0.3s @ease-in-out;
    &.@{iconfont-css-prefix}-plus,
    &.@{iconfont-css-prefix}-minus {
      > svg {
        shape-rendering: optimizeSpeed;
      }
    }
  }

  > .@{iconfont-css-prefix} + span,
  > span + .@{iconfont-css-prefix} {
    margin-left: @margin-xs;
  }

  // loading状态
  &&-loading {
    position: relative;
    &:not([disabled]) {
      pointer-events: none;
    }

    &::before {
      display: block;
    }
  }

  & > &-loading-icon {
    height: 16px;
    margin-right: @margin-xs;
    &:only-child {
      margin-right: 0;
    }
  }

  &&-loading.@{btn-prefix-cls}-primary {
    background: @palette-blue-6;
    border-color: @palette-blue-6;
  }

  &&-loading.@{btn-prefix-cls}-secondary {
    color: @palette-blue-5;
    background: @palette-gray-2;
    border-color: @palette-gray-4;
  }

  &&-loading.@{btn-prefix-cls}-text {
    color: @palette-blue-5;
    background: @palette-gray-2;
    border-color: @palette-gray-2;
  }

  // only icon
  &-icon-only {
    .btn-square(@btn-prefix-cls);
    padding: 7px !important;
    &.@{btn-prefix-cls}-mini {
      padding: 4px !important;
    }
    .@{iconfont-css-prefix} {
      line-height: 0;
      vertical-align: unset;
      svg {
        vertical-align: bottom !important;
      }
    }
  }

  &:focus > span,
  &:active > span {
    position: relative;
  }

  // 块状按钮
  &-block {
    width: 100%;
  }

  // 处理文字间空格
  &:empty {
    display: inline-block;
    width: 0;
    visibility: hidden;
    content: '\a0';
  }
}
