.square(@size;) {
  width: @size;
  height: @size;
}

.button-size(@height; @padding-horizontal; @font-size; @border-radius) {
  height: @height;
  padding-right: @padding-horizontal;
  padding-left: @padding-horizontal;
  font-size: @font-size;
  border-radius: @border-radius;
}

.button-disabled(@color: @palette-gray-5; @background: @palette-gray-1; @border: @palette-gray-1) {
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      .button-color(@color; @background; @border);
      text-shadow: none;
      box-shadow: none;
    }
    svg {
      color: @palette-black-3 !important;
    }
  }
}

.button-color(@color; @background; @border) {
  color: @color;
  background: @background;
  border-color: @border;
  > a:only-child {
    color: currentColor;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      content: '';
    }
  }
}

// primary button style
.btn-primary() {
  box-shadow: 0 3px 8px rgba(36, 46, 89, 0.05);

  .button-color(@palette-white; @palette-blue-4; @palette-blue-4);

  &:active,
  &:hover {
    .button-color(@palette-white; @palette-blue-5; @palette-blue-5);
    svg {
      color: @palette-white;
    }
  }

  &.dropdown-active {
    .button-color(@palette-white; @palette-blue-3; @palette-blue-3);
    svg {
      color: @palette-white;
    }
  }

  &:hover {
    box-shadow: 0 8px 24px rgba(36, 46, 89, 0.1);
  }
  &:active,
  &.dropdown-active {
    box-shadow: 0 3px 8px rgba(36, 46, 89, 0.05);
  }

  &::after {
    background-image: radial-gradient(circle, @palette-blue-3 10%, transparent 10.01%);
  }

  .button-disabled();
}

// secondary button style
.btn-secondary() {
  .button-color(@palette-black-6; transparent; @palette-gray-4);

  &:hover,
  &:active {
    .button-color(@palette-blue-5; @palette-gray-2; @palette-gray-4);
    svg {
      color: @palette-blue-5;
    }
  }

  &.dropdown-active {
    .button-color(@palette-blue-5; @palette-gray-4; @palette-gray-4);
    svg {
      color: @palette-blue-5;
    }
  }

  &::after {
    background-image: radial-gradient(circle, @palette-gray-4 10%, transparent 10.01%);
  }

  .button-disabled(@palette-gray-5; transparent; @palette-gray-4);
  border-color: @palette-gray-4 !important;
}

// text button style
.btn-text() {
  padding-right: 8px;
  padding-left: 8px;
  .button-color(@palette-black-6; transparent; transparent);

  &:hover,
  &:active {
    .button-color(@palette-blue-5; @palette-gray-2; @palette-gray-2);
    svg {
      color: @palette-blue-5;
    }
  }

  &.dropdown-active {
    .button-color(@palette-blue-5; @palette-gray-4; @palette-gray-2);
    svg {
      color: @palette-blue-5;
    }
  }

  &::after {
    background-image: radial-gradient(circle, @palette-gray-4 10%, transparent 10.01%);
  }

  .button-disabled(@palette-gray-5; transparent; transparent);
}

// square button: the content only contains icon
.btn-square(@btnClassName: btn) {
  .square(@btn-square-size);
  .button-size(@btn-square-size; 0; @size-font-16; @radius-border-small);
  & > * {
    font-size: @size-font-16;
  }
  &.@{btnClassName} {
    svg {
      .square(@btn-square-size - 16px);
    }
  }
  &.@{btnClassName}-large {
    .square(@btn-square-size-lg);
    .button-size(@btn-square-size-lg; 0; @size-font-18; @radius-border-small);
    & > * {
      font-size: @size-font-18;
    }
    svg {
      .square(@btn-square-size-lg - 16px);
    }
  }
  &.@{btnClassName}-small {
    .square(@btn-square-size-sm);
    .button-size(@btn-square-size-sm; 0; @size-font-14; @radius-border-small);
    & > * {
      font-size: @size-font-14;
    }
    svg {
      .square(@btn-square-size-sm - 16px) !important;
    }
  }
  &.@{btnClassName}-mini {
    .square(@btn-square-size-mini);
    .button-size(@btn-square-size-mini; 0; @size-font-14; @radius-border-small);
    & > * {
      font-size: @size-font-14;
    }
    svg {
      .square(@btn-square-size-mini - 12px) !important;
    }
  }
}
