.gio-switch {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: solid 1px #a3adc8;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all ease 0.4s;

  .gio-switch-handle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin: 2px;
    background-color: #1248e9;
    position: absolute;
    left: 0px;
    transition: all ease 0.4s;
  }
}

.gio-switch-checked {
  background-color: #3867f4;
  border: solid 1px #1248e9;

  .gio-switch-handle {
    left: 100%;
    margin-left: -16px;
    background-color: #fff;
  }
}

.gio-switch-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.suffixContent {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-left: 8px;
  color: #313e75;
  font-family: 'PingFang SC Regular';
  user-select: none;
}
