.displayBaseLoading {
  .gio-loading {
    margin: 0 20px;
  }
  .gio-loading-indicator > svg {
    animation: loadingCircle 1s infinite linear;
    @keyframes loadingCircle {
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .gio-btn {
    margin: 10px;
    .gio-loading {
      margin: 0;
    }
  }
}

.gio-loading-container {
  .gio-tabs-tabpane {
    height: 300px;
  }
}
