@import '../../stylesheet/variables/index.less';
@import '~@gio-design/utils/lib/less/mixins.less';
@list-picker-prefix-cls: ~'@{component-prefix}-list-picker--new';
@selection-prefix-cls: ~'gio-list-new--selection';
@list-prefix-cls: ~'gio-list-new';
.@{list-picker-prefix-cls} {
  box-sizing: border-box;
  min-width: 120px;
  height: auto;
  padding: 8px;
  background: @gray-0;
  border: 1px solid #dfe4ee;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(36, 46, 89, 0.1);
  & > :nth-child(n) {
    margin-bottom: 8px;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  &--content {
    z-index: 1000;
  }
  & .@{selection-prefix-cls} {
    height: auto;
    max-height: 360px;
    // margin-bottom: 8px;
    padding: 0;
    .scrollbar();
  }
  & > .@{list-prefix-cls} {
    height: auto;
    max-height: 360px;
    // margin-bottom: 8px;
    padding: 0;
    .scrollbar();
  }
}
