@import (reference) '../../stylesheet/variables/index.less';
@import (reference) '../../tabs/style/index.less';
@import (reference) '../../cascader/style/index.less';
@import (reference) '../../list/style/index.less';

@list-picker-prefix-cls: ~'@{component-prefix}-list-picker';
@list-picker-selection-prefix-cls: ~'@{component-prefix}-list--selection';
@tabs-tabpanel-prefix-cls: ~'@{component-prefix}-tabs-tabpanel';

.@{list-picker-prefix-cls} {
  box-sizing: border-box;
  min-width: 120px;
  height: auto;
  padding: 8px;
  background: @gray-0;
  border: 1px solid #dfe4ee;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(36, 46, 89, 0.1);
  & > :nth-child(n) {
    margin-bottom: 8px;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  &--content {
    z-index: 1000;
  }
  & .@{list-prefix-cls} {
    height: auto;
    max-height: 360px;
    margin-right: -6px;
    padding: 0;
    padding-right: 6px;
    .scrollbar();
  }
  & .@{cascader-prefix-cls}--list {
    padding: 8px;
  }
  & .@{list-picker-selection-prefix-cls} {
    height: auto;
    max-height: 360px;
    margin-right: -6px;
    padding: 0;
    padding-right: 6px;
    .scrollbar();
    & .@{list-prefix-cls} {
      height: auto;
      max-height: none;
    }
  }

  & .@{tabs-tabpanel-prefix-cls} {
    & .@{list-picker-selection-prefix-cls} {
      margin: 0;
      padding: 0;
      .scrollbar();
    }
    & .@{list-prefix-cls} {
      margin: 0;
      padding: 6px;
      .scrollbar();
    }
  }

  & .@{tabs-prefix-cls}-tabpanel {
    & > .@{list-prefix-cls} {
      height: auto;
      max-height: 360px;
      padding-top: 8px;
    }
    .@{list-picker-selection-prefix-cls} {
      height: auto;
      max-height: 360px;
      padding-top: 8px;

      .scrollbar(@x: hidden, @y: initial);
      & .@{list-prefix-cls} {
        max-height: none;
        // padding: 0;
      }
    }
  }
}
