@import '../../stylesheet/variables/index.less';

@breadcrumb-prefix-cls: ~'@{component-prefix}-breadcrumb';
@breadcrumb-link: ~'@{component-prefix}-link';

.@{breadcrumb-prefix-cls} {
  .text-body1();
  color: @gray-4;
  &__ol {
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__separator {
    margin: 0 12px;
  }
  .@{breadcrumb-link} {
    color: inherit;
  }
}
