@import '../../stylesheet/index.less';

@text-prefix-cls: ~'@{component-prefix}-text';

.@{text-prefix-cls} {
  .font();

  &--black {
    color: @palette-black-6;
  }
  &--gray {
    color: @palette-black-4;
  }

  &--small {
    font-size: 12px;
    line-height: 20px;
  }
  &--midlle {
    font-size: 14px;
    line-height: 22px;
  }
  &--large {
    font-size: 16px;
    line-height: 24px;
  }
}
