@import '../../stylesheet/variables/index.less';

@page-prefix-cls: ~'@{component-prefix}-page-new';

.@{page-prefix-cls} {
  text-align: center;
  &-normal {
    width: 450px;
    .@{page-prefix-cls}__description {
      font-size: 18px;
      line-height: 28px;
    }
    &-empty {
      width: 300px;
      .@{page-prefix-cls}__description {
        color: @gray-4;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  &-small {
    width: 220px;
    .@{page-prefix-cls}__description {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
    }
    &-empty {
      width: 150px;
      .@{page-prefix-cls}__description {
        color: @gray-4;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  &__image {
    display: inline-block;
    width: inherit;
    margin: 0;
  }

  &__description {
    margin: 8px 0 0;
    color: @gray-5;
    font-weight: 500;
    font-family: 'PingFang SC', sans-serif;
    text-align: center;
  }
  &__footer {
    margin: 16px 0 0;
    text-align: center;
  }
}
