.gio-field-control-input .gio-btn {
  margin-right: 12px;
}

.with-drawer .headline {
  display: flex;
  justify-content: space-between;

  > div {
    color: #242e59;
    font-family: 'PingFang SC';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;

    > i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color: #fff;
      background-color: #3867f4;
      margin-right: 8px;
    }
  }

  > a {
    color: #3867f4;
    font-family: 'PingFang SC';
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
  }
}
