@import '~@gio-design/tokens/dist/variables.less';
@import '../../../stylesheet/theme.less';
.gio-toggles {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: @color-border-toggles-normal-default;
  background-color: @color-background-toggles-unchecked-normal-rectangle;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all ease 0.4s;
  box-shadow: @shadow-toggles-normal-unchecked-rectangle;

  .gio-toggles-handle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin: 2px;
    background-color: @color-background-toggles-unchecked-normal-knob;
    position: absolute;
    left: 0px;
    transition: all ease 0.4s;
    box-shadow: @shadow-toggles-normal-unchecked-knob;
  }
}

.gio-toggles-checked {
  background-color: @color-background-toggles-checked-normal-rectangle;
  border: @color-border-toggles-normal-checked;
  box-shadow: none;
  .gio-toggles-handle {
    left: 100%;
    margin-left: -16px;
    background-color: @color-background-toggles-checked-normal-knob;
    box-shadow: @shadow-toggles-normal-checked-knob;
  }
}

.gio-toggles-suffixContent {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: @size-font-14;
  margin-left: 8px;
  color: @color-text-toggles-normal;
  font-family: @font-family;
  user-select: none;
}

.gio-toggles-disabled {
  .gio-toggles {
    cursor: not-allowed;
    border: @color-border-toggles-disable-default;
    background-color: @color-background-toggles-unchecked-disabled-rectangle;

    .gio-toggles-handle {
      background-color: @color-background-toggles-unchecked-disabled-knob;
      box-shadow: @shadow-toggles-disable-knob;
    }
  }

  .gio-toggles-checked {
    background-color: @color-background-toggles-checked-disabled-rectangle;
    border: @color-border-toggles-disable-checked;

    .gio-toggles-handle {
      background-color: @color-background-toggles-checked-disabled-knob;
    }
  }

  .gio-toggles-suffixContent {
    color: @color-text-toggles-disabled;
  }
}
