@import '../../../stylesheet/index.less';
.gio-toggles {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: @color-background-toggles-off-normal;
  border: @color-border-toggles-normal-default;
  border-radius: 10px;
  box-shadow: @shadow-toggles-normal-unchecked-rectangle;
  cursor: pointer;
  transition: all ease 0.4s;

  .gio-toggles-handle {
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    margin: 2px;
    background-color: @color-background-toggles-knob-off-normal;
    border-radius: @radius-border-pill;
    box-shadow: @shadow-toggles-normal-unchecked-knob;
    transition: all ease 0.4s;
  }
}

.gio-toggles-checked {
  background-color: @color-background-toggles-on-normal;
  border: @color-border-toggles-normal-checked;
  box-shadow: none;
  .gio-toggles-handle {
    left: 100%;
    margin-left: -16px;
    background-color: @color-background-toggles-knob-on-normal;
    box-shadow: @shadow-toggles-normal-checked-knob;
  }
}

.gio-toggles-suffixContent {
  display: inline-block;
  height: 20px;
  margin-left: 8px;
  color: @color-text-toggles-normal;
  font-size: @size-font-14;
  font-family: @font-family-primary;
  line-height: 20px;
  vertical-align: top;
  user-select: none;
}

.gio-toggles-disabled {
  .gio-toggles {
    background-color: @color-background-toggles-off-disable;
    border: @color-border-toggles-disable-default;
    cursor: not-allowed;

    .gio-toggles-handle {
      background-color: @color-background-toggles-knob-off-disable;
      box-shadow: @shadow-toggles-disable-knob;
    }
  }

  .gio-toggles-checked {
    background-color: @color-background-toggles-on-disable;
    border: @color-border-toggles-disable-checked;

    .gio-toggles-handle {
      background-color: @color-background-toggles-knob-on-disable;
    }
  }

  .gio-toggles-suffixContent {
    color: @color-text-toggles-disabled;
  }
}
