@import '../../stylesheet/index.less';
@import '../../stylesheet/mixin/index.less';
@import '../../stylesheet/variables/index.less';

@quick-picker-prefix-cls: ~'@{component-prefix}-quick-picker';

.@{quick-picker-prefix-cls} {
  display: flex;
  width: fit-content;
  max-width: fit-content;
  padding: 8px 8px 28px;
}
