@import '../../../stylesheet/index.less';

@drawer-prefix-cls: ~'@{component-prefix}-drawer';

.@{drawer-prefix-cls} {
  &-rtl {
    direction: rtl;
  }

  &-close {
    .@{drawer-prefix-cls}-rtl & {
      margin-right: 16px;
      margin-left: 0;
    }
  }

  &-prev-next {
    .@{drawer-prefix-cls}-rtl & {
      button:first-child {
        float: left;
      }
    }
  }
}
