@import (reference) '../../stylesheet/variables/index.less';

@cascader-prefix-cls: ~'@{component-prefix}-cascader';

.cascader-list-style() {
  box-sizing: border-box;
  min-width: 120px;
  height: auto;
  max-height: 520px;
  background: @gray-0;

  .border(4, @gray-2);
  .elevation(2);
  .scrollbar(@x: hidden, @y: overlay);
}

.@{cascader-prefix-cls} {
  &--list {
    .cascader-list-style();
  }
}
