@transition: all 0.3s ease-in-out;

.background() {
  .default() {
    background-color: @color-background-sign-default;
  }

  .error() {
    background-color: @color-background-sign-error;
  }

  .normal() {
    background-color: @color-background-sign-normal;
  }

  .warning() {
    background-color: @color-background-sign-warning;
  }

  .disabled() {
    background-color: @color-background-sign-disabled;
  }
}

.square(@size) {
  width: @size;
  height: @size;
}

.place() {
  position: absolute;
  display: inline-block;
  opacity: 1;
  transition: @transition;
}

.transform(@scale, @x, @y) {
  transform: scale(@scale) translate(@x, @y);
}
