@import '../../../stylesheet/theme.less';
@import '~@gio-design/tokens/dist/variables.less';

@input-height-lg: 40px;
@input-height-base: 36px;
@input-height-sm: 30px;

@input-prefix-cls: ~'@{component-prefix}-input';

.@{input-prefix-cls} {
  width: 300px;
  display: inline-block;

  &-textarea {
    height: 80px;

    &-noresize {
      resize: none;
    }
  }

  &-content {
    width: 100%;
    padding: 9px 16px;
    color: @palette-black-6;
    font-size: @size-font-14;
    background-color: @palette-white;
    border: 1px solid @color-border-input-normal;
    border-radius: @radius-border-small;
    outline: none;
    transition: all 0.3s ease-in-out;

    &-medium {
      height: @input-height-base;
    }

    &-large {
      height: @input-height-lg;
    }

    &-small {
      height: @input-height-sm;
    }

    &-suffix {
      padding-right: 44px;
    }

    &::placeholder {
      color: @palette-black-1;
    }

    &:hover {
      border-color: @color-border-input-hover;
      box-shadow: none;
    }

    &:focus {
      border-color: @color-border-input-active;
      box-shadow: @shadow-tabs;
    }

    &:disabled {
      background-color: @palette-gray-1;
      border-color: @color-border-input-disable;
      cursor: not-allowed;
    }
  }

  &-container {
    position: relative;

    &-suffix {
      position: absolute;
      top: 8px;
      right: 15px;
    }

    &-view {
      position: absolute;
      top: 8px;
      right: 15px;

      & > button {
        color: @palette-gray-5;

        &:hover {
          color: @palette-blue-7;
        }
      }
    }

    &-arrow {
      position: absolute;
      top: -14px;
      right: 16px;
      display: flex;
      flex-direction: column;

      & > button {
        width: 16px !important;
        height: 16px !important;
        color: @palette-gray-5;

        &:hover {
          color: @palette-blue-7;
        }
      }
    }
  }
}
