.gio-tip {
  clear: both;
  padding: 16px 15px;
  overflow: auto;
  font-family: 'PingFang SC', sans-serif;
  background-color: #f2f4fc;
  border: 1px solid #5c6bb5;
  border-radius: 2px;
  &__message {
    display: inline-block;
    color: #333;
    font-size: 14px;
    line-height: 18px;
  }
  &__a {
    color: #5c6bb5;
    text-decoration: underline;
  }
  &__operate {
    float: right;
    font-size: 12px;
  }
}
