@import (reference) '../../stylesheet/variables/index.less';
@panel-batch-actions-prefix-cls: ~'@{component-prefix}-panel__batch-actions';

.@{panel-batch-actions-prefix-cls} {
  display: flex;
  align-items: center;
  color: @gray-5;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  &__text {
    margin-right: 4px;
  }

  &__close {
    margin-bottom: -1px;
  }

  &__divider {
    display: inline-block;
    width: 1px;
    height: 16px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: @gray-2;
    border: 0;
  }

  &__children {
    & > * {
      margin-left: 12px;
    }
  }
}
