@import '../../stylesheet/variables/index.less';

@panel-prefix-cls: ~'@{component-prefix}-panel';
@panel-table-prefix-cls: ~'@{component-prefix}-table';

.@{panel-prefix-cls} {
  .@{panel-table-prefix-cls}-thead > tr:first-child > .@{panel-table-prefix-cls}-cell {
    &:first-child {
      border-top-left-radius: 0;
    }
    &:last-child {
      border-top-right-radius: 0;
    }
  }
  .@{panel-table-prefix-cls}-tbody > tr:last-child > .@{panel-table-prefix-cls}-cell {
    &:first-child {
      border-bottom-left-radius: 0;
    }
    &:last-child {
      border-bottom-right-radius: 0;
    }
  }
  .@{panel-table-prefix-cls}-thead > tr > .@{panel-table-prefix-cls}-cell,
  .@{panel-table-prefix-cls}-tbody > tr > .@{panel-table-prefix-cls}-cell {
    &:first-child {
      border-left: unset;
    }
    &:last-child {
      border-right: unset;
    }
  }

  .@{panel-table-prefix-cls}-pagination {
    padding-right: 20px;
  }
}
