@import '../../stylesheet/variables/index.less';

@panel-tab-panelprefix-cls: ~'@{component-prefix}-panel__tab-panel';

.@{panel-tab-panelprefix-cls} {
  &__container {
    margin: 20px 8px;
    overflow: hidden;
  }

  &__tool-bar {
    margin-right: 6px;
    margin-left: 6px;
  }
}
