@import '../../stylesheet/variables/index.less';

@panel-tab-panelprefix-cls: ~'@{component-prefix}-panel__tab-panel';

.@{panel-tab-panelprefix-cls} {
  &__container {
    margin: 20px 14px;
    overflow: hidden;
  }
}
