.gio-color-example {
  width: 220px;
  height: 46px;
  border-radius: 4px;
}

.gio-color-example--white {
  height: 44px;
  border: 1px dashed #adb2c8;
}

.gio-border-color-example {
  width: 220px;
  height: 42px;
  border-radius: 4px;
}

.gio-border-color-example--white {
  background-color: #ebedf5;
  box-shadow: 0 0 4px 0 #dfe2ed;
}

.gio-text-color-example {
  display: inline-block;
  width: 46px;
  height: 46px;
  font-weight: 500;
  font-size: 24px;
  font-family: PingFang SC, sans-serif;
  line-height: 46px;
  text-align: center;
  border-radius: 4px;
}

.gio-text-color-example--white {
  background-color: #1248e9;
}

.gio-shadow-example {
  width: 220px;
  height: 46px;
  background-color: #f7f8fc;
  border-radius: 4px;
}

.gio-font-size-example {
  display: inline-block;
  height: 60px;
  color: #313e75;
  font-weight: 500;
  font-family: PingFang SC, sans-serif;
  line-height: 60px;
  letter-spacing: 0;
}

.gio-spacing-size-example {
  background-color: #1248e9;
  opacity: 0.5;
}

.gio-border-radius-example {
  width: 44px;
  height: 44px;
  border: 1px solid #3867f4;
}

.gio-font-weight-example {
  color: #313e75;
  font-size: 24px;
  font-family: PingFang SC, sans-serif;
  letter-spacing: 0;
}

.gio-font-family-example {
  color: #313e75;
  font-size: 24px;
  letter-spacing: 0;
}
