.gio-token-table {
  p {
    margin-bottom: 0;
  }
  code {
    padding: 2px 5px;
    color: #d56161;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background: #f6f7f9;
  }
}
