@import '../../../stylesheet/index.less';

@table-prefix-cls: ~'@{component-prefix}-table';
@checkbox-prefix-cls: ~'@{component-prefix}-checkbox';
@popover-prefix-cls: ~'@{component-prefix}-popover';
@empty-prefix-cls: ~'@{component-prefix}-empty';

.@{table-prefix-cls} {
  font-size: @size-font-14;
  text-align: left;
  &-title {
    margin-bottom: 20px;
    color: @color-text-table-head;
    font-weight: @weight-font-medium;
    font-size: @size-font-16;
    line-height: 24px;
  }

  & &-container {
    position: relative;
    table {
      position: relative;
      width: 100%;
      font-size: @size-font-14;
      line-height: 18px;
      letter-spacing: 0;
      border-style: hidden;
      border-radius: 4px;
      border-collapse: separate;
      border-spacing: 0;
    }
  }
  // hack
  &-fixed-header &-container,
  &-fixed-column &-container {
    border-radius: @radius-border-small;
  }

  &-fixed-header &-container > &-body > table {
    border-style: hidden;
    box-shadow: unset;
  }

  &-fixed-header &-container > &-header,
  &-fixed-column &-container > &-content {
    border-top-left-radius: @radius-border-small;
    border-top-right-radius: @radius-border-small;
  }
  &-fixed-header &-container > &-body,
  &-fixed-column &-container > &-content {
    border-bottom-right-radius: @radius-border-small;
    border-bottom-left-radius: @radius-border-small;
  }
  &-fixed-header &-container &-tbody > tr:nth-child(2) > td,
  &-fixed-column &-container &-tbody > tr:nth-child(2) > td {
    border-top: unset;
  }

  &-thead > tr {
    color: @color-text-table-head;
    font-weight: @weight-font-medium;
    vertical-align: middle;
    & > td {
      height: 50px;
    }
  }

  &-thead > tr:first-child > &-cell {
    border-top: 0.5px solid @color-border-table;
    &:first-child {
      border-top-left-radius: @radius-border-small;
    }
    &:last-child {
      border-top-right-radius: @radius-border-small;
    }
  }

  &-thead > tr > &-cell {
    padding: 16px;
    vertical-align: middle;
    background-color: @color-background-table-head;
    border-bottom: 0.5px solid @color-border-table;
    &:first-child {
      border-left: 0.5px solid @color-border-table;
    }
    &:last-child {
      border-right: 0.5px solid @color-border-table;
    }
  }

  &-tbody > tr {
    color: @color-text-table-body;
  }

  &-tbody > tr:last-child > &-cell {
    &:first-child {
      border-bottom-left-radius: @radius-border-small;
    }
    &:last-child {
      border-bottom-right-radius: @radius-border-small;
    }
  }

  &-tbody > tr > &-cell {
    height: 50px;
    padding: 16px;
    overflow-wrap: break-word;
    background-color: @color-background-table-body;
    border-top: unset;
    border-right: unset;
    border-bottom: 0.5px solid @color-border-table;
    border-left: unset;
    &:first-child {
      border-left: 0.5px solid @color-border-table;
    }
    &:last-child {
      border-right: 0.5px solid @color-border-table;
    }
  }

  &-thead,
  &-tbody {
    tr {
      th,
      td {
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
        }
      }
    }
  }

  &-tbody > &-row-selected > &-cell {
    background-color: #edf2fc;
    transition: background-color 0.3s ease-in-out;
  }

  &-showHover &-tbody > tr {
    &:hover {
      td {
        background-color: @color-background-table-hover;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }

  &-cell {
    box-sizing: border-box;
    &-scrollbar {
      position: relative;
      padding: 0 !important;
    }
    &-ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &-fix-left,
    &-fix-right {
      z-index: @zindex-table-fixed;
    }

    // overflow: hidden cause :after box-shadow not work;
    &-ellipsis&-fix-left-last,
    &-ellipsis&-fix-right-first {
      overflow: visible;
    }
    &-ellipsis&-fix-left-last > &-content,
    &-ellipsis&-fix-right-first > &-content {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-fix-left-last {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        width: 30px;
        transform: translateX(100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
      }
    }
    &-fix-right-first {
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 20px;
        transform: translateX(-100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
      }
    }

    .@{checkbox-prefix-cls} {
      &-wrapper {
        height: 16px;
        line-height: 0;
      }
      &-icon {
        top: 4px;
      }
      &-input {
        margin: 0;
      }
    }
  }
  // hack
  &-thead &-cell-fix-right-first {
    &::after {
      left: -1px;
    }
  }

  &-ping-left &-cell&-cell-fix-left-last {
    border-right: unset;
    &::after {
      box-shadow: @shadow-table-right-shadow;
    }
  }
  &-ping-right &-cell&-cell-fix-right-first::after {
    box-shadow: @shadow-table-left-shadow;
  }

  &-column-title {
    display: flex;
    align-items: center;
    height: 18px;
    &-info {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 8px;
      .gio-icon {
        vertical-align: 0;
      }
    }
  }

  &-column-filter {
    height: 100%;
    margin-top: -6px;
    margin-left: 4px;
    &-inner {
      width: 24px;
      height: 24px;
      .@{popover-prefix-cls}-inner-content {
        width: 220px;
        margin: 16px 16px 0;
        .filter-popover-footer {
          padding: 8px 16px;
          border-top: 1px solid #dfe4ee;
        }
      }
    }
  }

  &-column-sorter {
    height: 100%;
    margin-left: 8px;
    &-inner {
      display: inline-block;
      width: 16px;
      height: 100%;
      &-btn {
        height: 100%;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }

    &-up {
      top: 0;
    }
    &-down {
      bottom: 9px;
    }
    &-up,
    &-down {
      position: relative;
      width: 12px;
      height: 50%;
      color: @color-background-table-arrow-normal;
      &.active {
        color: @color-background-table-arrow-active;
      }
      .gio-icon-svg {
        position: relative;
        top: -3px;
        left: -2px;
      }
    }
  }

  &-showHover &-placeholder:hover > &-cell {
    background-color: unset;
  }

  &-showHover &-placeholder > &-cell {
    border-top-left-radius: @radius-border-small;
    border-top-right-radius: @radius-border-small;
  }

  &-showHover &-thead + &-tbody &-placeholder > &-cell {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &-wrapper {
    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
  &-pagination {
    float: right;
    margin: 16px 0;
  }

  &-tbody > &-placeholder > &-cell {
    padding: 0;
  }

  &-empty {
    margin: 60px auto;
  }
}
