hr {
  margin: 50px 16px;
  width: 1px;
  height: 50px !important;
  background-color: #dcdfed;
  border: none;
}

.__dumi-default-previewer-demo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
