.gio-list {
  font-family: inherit;
  .ant-table-thead {
    tr {
      th {
        height: 50px;
        padding: 10px 19px;
        color: #5c4e61;
        font-weight: 500;
        font-size: 14px;
        background-color: #f4f6f9 !important;
        border-right: 1px solid #e8e8e8;
      }
    }
  }
  .ant-table-small .ant-table-thead tr th {
    height: initial;
    padding: 5px 10px;
  }
  .ant-table tr:nth-of-type(odd) {
    background-color: #fff;
  }
  table {
    border-right: 1px solid #e8e8e8 !important;
  }
  .ant-table-tbody {
    tr {
      td {
        height: 60px;
        padding: 10px 20px;
        color: #5c4e61;
        font-weight: 400;
        font-size: 12px;
        border-bottom: 1px solid #e8e8e8;
        border-left: none;
      }
    }
    tr:hover {
      td {
        background-color: #ccd3f1 !important;
      }
      a {
        color: #f48267;
      }
    }
  }
  .ant-table-small {
    .ant-table-placeholder,
    .ant-table-tbody tr td {
      height: initial;
      padding: 6px 10px;
    }
  }
  .ant-table-column-sorter {
    float: right;
    margin-top: 6px;
  }
  .select-row {
    background-color: #f2f2f2 !important;
  }
  .icon {
    margin-top: 4px;
    margin-right: 5px;
  }
  .result-error {
    color: #ff7a7a;
  }

  .result-right {
    color: #74bb00;
  }
  a.help-doc {
    color: #2db7f5;
    text-decoration: underline;
  }
}
th.align-right,
td.align-right {
  text-align: right !important;
}

th.align-center,
td.align-center {
  text-align: center !important;
}
th.no-border-right {
  border-right: none !important;
}
