.gio-breadcrumb {
  font-size: 14px;
  color: #313E75;
  height: 22px;

  &-item.gio-breadcrumb-item-link {
    .gio-breadcrumb-item-link-target {
      cursor: pointer;

      &:hover {
        color: #2867F4;
      }
    }
  }

  a {
    color: #313E75;

    &:hover {
      color: #2867F4;
    }
  }

  &-separator {
    display: inline-block;
    width: 16px;
    text-align: center;
    padding: 0 8px;
    box-sizing: content-box;
  }
}