@import '../../../stylesheet/index.less';

@skeleton-prefix-cls: ~'@{component-prefix}-skeleton';

.@{skeleton-prefix-cls} {
  display: table;
  width: 100%;
  &-header {
    display: table-cell;
    padding-right: 16px;
    vertical-align: top;
  }
  & &-avatar {
    margin: 0;
    background-color: @color-background-skeleton-normal;
  }
  &-content {
    display: table-cell;
    width: 100%;
    padding-top: 18px;
    vertical-align: top;
  }
  &-title {
    width: 38%;
    height: 24px;
    background-color: @color-background-skeleton-normal;
  }
  &-paragraph {
    overflow: hidden;
    p {
      height: 24px;
      background-color: @color-background-skeleton-normal;
    }
    p:not(:last-child) {
      margin: 32px 0;
    }
  }
  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: #f7f8fc;
    border-radius: 10px;
  }
  &-active {
    .@{skeleton-prefix-cls} {
      &-avatar,
      &-title,
      &-paragraph > p {
        .skeleton-color();
      }
    }
  }

  .skeleton-color() {
    background-image: @color-background-skeleton-active;
    background-size: 400% 100%;
    animation: ~'@{skeleton-prefix-cls}-loading' 1.2s ease infinite;
  }

  @keyframes ~"@{skeleton-prefix-cls}-loading" {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}
