.expression-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin: 8px;
  padding-right: 16px;
  .express-regular_select {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .express-propertySelect {
      max-width: 220px;
    }
  }
  .expression-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    line-height: 24px;
    text-align: center;
    background-color: #dfe4ee;
    border-radius: 12px;
  }

  .filter-condition_select {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    min-width: 40px;
    max-width: 160px;
    height: 30px;
    margin-left: 8px;
    padding: 4px 8px;
    color: #313e75;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
    border-radius: 4px;

    .filter-condition_select-text {
      display: inline-block;
      width: 100%;
      padding-right: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
