.expression-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin: 8px;
  padding-right: 16px;
  .express-regular_select {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .express-propertySelect {
      max-width: 220px;
    }
  }
  .expression-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    line-height: 24px;
    text-align: center;
    background-color: #dfe4ee;
    border-radius: 12px;
  }
}
