@import '../../stylesheet/variables/index.less';

@dropdown-prefix-cls: ~'@{component-prefix}-dropdown';

.@{dropdown-prefix-cls} {
  min-width: 160px;
  padding: 8px;
  overflow: visible;
  background-color: @gray-0;
  &-p-0 {
    padding: 0;
  }
  .border(4);
  .elevation(2);
}
