@import '../../stylesheet/variables/index.less';

@dropdown-prefix-cls: ~'@{component-prefix}-dropdown-new';

.@{dropdown-prefix-cls} {
  width: 160px;
  max-height: 200px;
  padding: 12px 8px;
  overflow: auto;
  background-color: @gray-0;
  .border(4);
  .elevation(2);
}
