@import '../../stylesheet/variables/index.less';
@import (reference) '../../input/style/index.less';

@search-prefix-cls: ~'@{component-prefix}-search';

.@{search-prefix-cls} {
  &__suffix {
    &-clear {
      cursor: pointer;
    }

    &-disabled {
      cursor: not-allowed;
    }
  }

  .@{input-prefix-cls}::--webkit-search-cancel-button {
    appearance: none;
  }
}
