@import '../../stylesheet/variables/index.less';

@search-prefix-cls: ~'@{component-prefix}-search';
.@{search-prefix-cls} {
  &__suffix {
    &-clear {
      cursor: pointer;
    }
    &-disabled {
      cursor: not-allowed;
    }
  }
}
