.tree-select-demo {
  float: left;
  width: 50%;
  height: auto;
  margin-right: 10px;
  padding: 20px;
  border: 1px dashed #333;
  .title-icon {
    position: relative;
    top: 13px;
    right: 8px;
    float: right;
  }
}
