@import '../../../stylesheet/index.less';

@page-prefix-cls-legacy: ~'@{component-prefix}-page-legacy';

.@{page-prefix-cls-legacy} {
  text-align: center;

  &__image {
    display: inline-block;
    width: 450px;
    margin: 0;
  }

  &__description {
    margin: 8px 0 0;
    color: @palette-black-6;
    font-weight: 500;
    font-size: 18px;
    font-family: 'PingFang SC', sans-serif;
    line-height: 28px;
    text-align: center;
  }

  &__footer {
    margin: 16px 0 0;
    text-align: center;
  }
}
