@import (reference) '../../stylesheet/variables/index.less';
@import (reference) '../../avatar/style/index.less';

@upload-prefix-cls: ~'@{component-prefix}-upload';
@upload-item: ~'@{upload-prefix-cls}-list-item';

.@{upload-prefix-cls} {
  .reset-component();
  outline: 0;
  color: @gray-5;
  font-size: 14px;
  line-height: 20px;
  p {
    margin: 0;
  }
  &-btn {
    display: block;
    width: 100%;
    outline: none;
  }

  input[type='file'] {
    cursor: pointer;
  }
  &&-select {
    display: inline-block;
  }

  &&-disabled {
    cursor: not-allowed;
    color: @gray-3;
  }

  &&-drag {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: @gray-1;
    border: 1px dashed @gray-2;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s;
    .@{upload-prefix-cls} {
      padding: 16px 0;
    }

    &.@{upload-prefix-cls}-drag-hover:not(.@{upload-prefix-cls}-disabled) {
      border-color: @blue-2;
    }

    &.@{upload-prefix-cls}-disabled {
      cursor: not-allowed;
    }
    &:not(.@{upload-prefix-cls}-disabled):hover {
      border-color: @blue-3;
    }

    p.@{upload-prefix-cls}-icon {
      margin-bottom: 16px;
    }
    p.@{upload-prefix-cls}-text {
      margin: 0 0 4px;
      color: @gray-4;
      font-size: 14px;
    }
    p.@{upload-prefix-cls}-hint {
      color: @gray-3;
      font-size: 12px;
    }
  }
}
.@{upload-prefix-cls}-list {
  .reset-component();
  line-height: @line-height-base;

  &-item {
    position: relative;
    height: @line-height-base * @font-size-base;
    margin-top: @margin-xss;

    &-info {
      height: 100%;
    }
    &-name {
      display: inline-block;
      width: 100%;
      padding-left: @font-size-base + 8px;
      overflow: hidden;
      line-height: @line-height-base;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: @blue-3;
    }
    &-progress {
      position: absolute;
      bottom: -10px;
      width: 100%;
      line-height: 0;
    }

    &-error {
      .@{upload-item}-status {
        color: @red-3;
      }
    }
    &-success {
      .@{upload-item}-status {
        color: @green-3;
      }
    }
  }
  &-text {
    .@{upload-item}-span {
      display: flex;
      align-items: center;

      > * {
        flex: none;
      }
    }

    .@{upload-item}-name {
      flex: 0 1 auto;
      margin: 0;
      padding: 0 @padding-xs;
      width: auto;
    }
    .@{upload-item}-status {
      margin: 0;
      padding: 0 @padding-xs;
    }
    .@{upload-item}-container {
      transition: opacity 0.3s, height 0.3s;

      &::before {
        display: table;
        width: 0;
        height: 0;
        content: '';
      }
    }
    .@{upload-item}-actions {
      visibility: hidden;
    }
    &:not(@{upload-item}-disabled):hover {
      visibility: visible;
    }
  }
}
// @upload-btn: ~'@{upload-prefix-cls}__btn';
// @upload-input: ~'@{upload-prefix-cls}__input';
// @upload-card: ~'@{upload-prefix-cls}__card';
// @upload-avatar: ~'@{upload-prefix-cls}__avatar';
// @upload-drag: ~'@{upload-prefix-cls}-drag';
// @upload-preview: ~'@{upload-prefix-cls}__preview';
// @upload-actions: ~'@{upload-prefix-cls}__actions';

// .@{upload-prefix-cls} {
//   display: inline-block;
//   color: @gray-5;
//   font-size: 14px;
//   line-height: 20px;
//   vertical-align: middle;

//   &:focus {
//     outline: 0;
//   }

//   &--success {
//     & .@{upload-card} {
//       border: 0;

//       &:hover .@{upload-actions} {
//         opacity: 1;
//       }
//     }

//     & .@{upload-drag} {
//       border: 1px dashed #dfe4ee;

//       &:hover .@{upload-actions} {
//         opacity: 1;
//       }
//     }
//   }

//   &--success-border {
//     & .@{upload-card},
//     & .@{upload-avatar},
//     & .@{upload-drag} {
//       border: 1px solid @gray-2;

//       &:hover .@{upload-actions} {
//         opacity: 1;
//       }
//     }
//   }

//   &--disabled {
//     & .@{upload-card},
//     & .@{upload-avatar},
//     & .@{upload-drag} {
//       cursor: not-allowed;
//       .@{upload-drag}-placeholder {
//         color: @gray-3;
//       }
//     }
//   }

//   &:not(&--disabled):not(&-disabled):hover {
//     .@{upload-card},
//     .@{upload-drag},
//     .@{upload-drag}--hover {
//       border-color: @blue-2;
//     }

//     .@{upload-avatar} {
//       .@{upload-actions} {
//         opacity: 1;
//       }
//     }
//   }

//   &-file-list {
//     &-item {
//       display: flex;
//       align-items: center;
//       height: 24px;
//       margin-bottom: 4px;

//       & > span {
//         margin-right: 16px;
//       }

//       .@{upload-prefix-cls}-file-name {
//         width: fit-content;
//         margin-right: 16px;
//         color: @blue-3;
//       }

//       .@{upload-prefix-cls}-file-success {
//         width: fit-content;
//         margin-right: 16px;
//         color: @green-3;
//       }

//       .@{upload-prefix-cls}-file-error {
//         width: fit-content;
//         margin-right: 16px;
//         color: @red-3;
//       }

//       .@{upload-prefix-cls}-file-delete {
//         display: none;
//         width: 24px;
//         height: 22px;
//         border-radius: 4px;
//         cursor: pointer;
//       }

//       &:hover {
//         .@{upload-prefix-cls}-file-delete {
//           display: flex;
//           align-items: center;
//           justify-content: center;

//           &:hover {
//             background-color: @gray-2;
//           }
//         }
//       }
//     }
//   }
// }

// // Button 类型 trigger
// .@{upload-btn} {
//   display: inline-flex;
//   align-items: center;
//   justify-content: flex-start;

//   &-label {
//     flex: 1;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//   }

//   & svg {
//     top: 0;
//   }

//   .@{upload-preview} {
//     flex-shrink: 0;
//   }
// }

// // Input 类型 trigger
// .@{upload-input} {
//   &-preview {
//     display: inline-flex;
//     align-items: center;
//     justify-content: flex-start;
//     width: 300px;
//     height: 40px;
//     padding: 9px 16px;
//     font-size: 14px;
//     line-height: 40px;
//     background-color: @gray-1;
//     border: 1px solid @gray-2;
//     border-radius: 4px;
//     cursor: pointer;

//     &:hover {
//       border-color: @blue-3;
//     }
//   }

//   .@{upload-preview} {
//     flex-shrink: 0;
//   }
// }

// // Card 配型
// .@{upload-card} {
//   position: relative;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   box-sizing: border-box;
//   width: 80px;
//   height: 80px;
//   overflow: hidden;
//   background-color: @gray-1;
//   border: 1px dashed @gray-2;
//   border-radius: 4px;
//   outline: 0;
//   cursor: pointer;

//   .@{upload-preview} {
//     margin: 0;
//   }
// }

// // Avatar 类型
// .@{upload-avatar} {
//   position: relative;
//   display: inline-block;
//   height: 80px;
//   overflow: hidden;
//   border-radius: 50%;
//   cursor: pointer;
//   & .@{avatar-prefix-cls} {
//     margin: 0;

//     & img {
//       object-fit: cover;
//     }
//   }
// }

// .@{upload-prefix-cls}-drag-container {
//   width: 100%;
// }

// // Drag 类型
// .@{upload-drag} {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   box-sizing: border-box;
//   text-align: center;
//   background-color: @gray-1;
//   border: 1px dashed @gray-2;
//   border-radius: 4px;
//   cursor: pointer;
//   transition: border-color 0.3s;

//   // &-container {
//   //   width: 75%;
//   //   text-align: center;

//   //   .gio-progress {
//   //     margin: 12px auto;
//   //   }

//   //   .loading-text {
//   //     color: #313e75;
//   //   }
//   // }
// }

// // 预览图片
// .@{upload-preview} {
//   display: inline-block;
//   margin-right: 8px;
//   object-fit: contain;
//   overflow: hidden;
//   vertical-align: middle;
//   border-radius: 4px;

//   &-file {
//     color: #313e75;
//     font-size: 14px;
//     text-align: center;

//     &-name {
//       margin: 8px 0 16px;
//       font-size: 12px;
//     }
//   }
// }

// // 操作遮罩层
// .@{upload-actions} {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   background-color: rgb(0 0 0 / 50%);
//   opacity: 0;
//   transition: opacity 0.2s ease-in-out;

//   &-container {
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;

//     .@{upload-actions}-icon {
//       margin: 0 8px;
//       color: @gray-0;
//     }
//   }

//   &--right-top {
//     & .@{upload-actions}-container {
//       position: absolute;
//       top: 16px;
//       right: 8px;
//     }
//   }
// }

// .@{upload-actions}-file {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   opacity: 0;

//   &:hover {
//     cursor: default;
//   }
// }
