@import '../mixin/border.less';
@import '../mixin/elevation.less';
@import '../variables/index.less';

.mixin-demo-border {
  .border(2);
}

.mixin-demo-elevation {
  .elevation(@level:2);
}

.mixin-demo-blue-1 {
  background-color: @blue-1;
}
.mixin-demo-blue-2 {
  background-color: @blue-2;
}
.mixin-demo-blue-3 {
  background-color: @blue-3;
}

.mixin-demo-green-1 {
  background-color: @green-1;
}
.mixin-demo-green-2 {
  background-color: @green-2;
}
.mixin-demo-green-3 {
  background-color: @green-3;
}
