@import '~@gio-design/tokens/dist/variables.less';

@banner-prefix-cls: ~'@{component-prefix}-banner';

.@{banner-prefix-cls} {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 13px 64px;
  background-color: @color-background-banner-normal;
  transition: all ease 0.8s;

  &-content {
    flex: 1;
    margin: 0 8px;
    color: @color-text-banner-normal;
    font-size: @size-font-14;
    font-family: @font-family;
    line-height: 22px;
  }

  &-button {
    position: relative;
    left: 15px;
  }

  &-closeIcon {
    position: relative;
    left: 40px;
    width: 24px;
    height: 24px;
    color: @color-text-banner-normal;
    font-weight: @weight-font-semi-bold;
    line-height: 16px;
    cursor: pointer;
    svg {
      position: relative;
      top: 5px;
      left: 5px;
    }
  }
  &-closeIcon:hover {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
  }
}

.@{banner-prefix-cls}-alert {
  background-color: @color-background-banner-alert;
  .@{banner-prefix-cls}-content {
    color: @color-text-banner-alert;
    font-size: @size-font-14;
    font-family: @font-family;
  }
  .@{banner-prefix-cls}-closeIcon {
    color: @color-text-banner-alert;
  }
}

.@{banner-prefix-cls}-close {
  display: none;
}
