@import '../../../stylesheet/index.less';

@selector-prefix-cls-legacy: ~'@{component-prefix}-selector-legacy';
@dropdown-inner-prefix-cls-legacy: ~'@{component-prefix}-dropdown';

.@{selector-prefix-cls-legacy}-overlay {
  height: fit-content;
  background: @palette-white;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(36, 46, 89, 0.1);
  .@{dropdown-inner-prefix-cls-legacy}-inner {
    overflow: visible;
  }
}
