@import '../../../stylesheet/index.less';

@selector-prefix-cls-legacy: ~'@{component-prefix}-selector-legacy';
@dropdown-inner-prefix-cls-legacy: ~'@{component-prefix}-dropdown';

.@{selector-prefix-cls-legacy}-overlay {
  height: fit-content;
  background: @palette-white;
  border-radius: 4px;
  box-shadow: 0 6px 14px rgba(223, 226, 237, 0.8);
  .@{dropdown-inner-prefix-cls-legacy}-inner {
    overflow: visible;
  }
}
