@import '../../../stylesheet/index.less';

@prefix-cls-legacy: ~'@{component-prefix}-input-trigger';
@icon-prefix-cls-legacy: 'gio-icon';

.@{prefix-cls-legacy} {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  padding: 0 32px 0 16px;
  background: @palette-white;
  border: 1px solid @palette-gray-4;
  border-radius: 4px;

  &--fit-content {
    width: fit-content;
  }

  &--disabled {
    background: @palette-gray-1;
    border-color: @palette-gray-4;
    cursor: not-allowed;
  }

  &:not(&--disabled):hover {
    border-color: @palette-blue-5;
  }

  &--borderless,
  &--borderless&--disabled {
    border-color: transparent;
  }

  &--borderless:not(&--disabled):hover {
    background: @palette-gray-3;
    border-color: transparent;
  }

  &:not(&--disabled):active,
  &--actived:not(&--disabled) {
    border-color: @palette-blue-3;
  }

  &__item,
  &__placeholder {
    display: inline-block;
    max-width: 100%;
    .font();
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__item {
    color: @palette-black-6;
  }
  &__placeholder {
    color: @palette-black-1;
  }
  &--disabled > &__item {
    color: @palette-black-3;
  }
  &--small {
    height: 30px;
  }
  &--small > &__item,
  &--small > &__placeholder {
    line-height: 28px;
  }

  &--middle {
    height: 36px;
  }
  &--middle > &__item,
  &--middle > &__placeholder {
    line-height: 34px;
  }

  &--large {
    height: 40px;
  }
  &--large > &__item,
  &--large > &__placeholder {
    line-height: 38px;
  }

  &__suffix {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    color: @palette-black-3;

    span[aria-label='close-circle-filled'] {
      color: @palette-black-6;
    }
  }
}
