@import '../../../stylesheet/index.less';

@list-selector-prefix-cls-legacy: ~'@{component-prefix}-list-selector-legacy';
@list-selector-dropdown-prefix-cls-legacy: ~'@{component-prefix}-dropdown';
@list-selector-list-picker-prefix-cls-legacy: ~'@{component-prefix}-list-picker';
@list-selector-empty-prefix-cls-legacy: ~'@{component-prefix}-empty';

.@{list-selector-prefix-cls-legacy} {
  &__dropdown {
    box-sizing: border-box;
    width: 240px;
    min-width: 120px;
    max-width: 320px;
    max-height: 320px;
    padding: 8px;
    .scrollbar();

    .@{list-selector-dropdown-prefix-cls-legacy}-content {
      box-shadow: none;
    }

    .@{list-selector-empty-prefix-cls-legacy} {
      padding: 40px 0;
    }
  }
}
