.gio-list-demo-box {
  width: 240px;
  min-height: 300px;
  margin: 20px;
  background-color: #fff;
  border: 0.5px solid #dcdfed;
  border-radius: 4px;

  &.overflow {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
  }
}
