@import './colors.less';

//Default Background Color
@default-color-background: #FFFFFF;
@default-color-background-alt: @color-gray-1;
@default-color-background-brand-primary: @color-orange-4;
@default-color-background-brand-secondary: @color-indigo-7;
@default-color-background-light: #FFFFFF;
@default-color-background-table: @table-shadow-color-gray-2;
@default-color-background-table-hover: @color-gray-3;
@default-color-background-row-hover: @color-gray-1;
@default-color-background-row-selected: @color-orange-1;
@default-color-background-hover: @color-indigo-1;
@default-color-background-selection: @color-indigo-7;
@default-color-background-info: @color-indigo-1;
@default-color-background-warning: @color-yellow-1;
@default-color-background-error: @color-orange-1;
@default-color-background-success: @color-green-3;
@default-color-background-warning: @color-yellow-3;
@default-color-background-error: @color-orange-5;
@default-color-background-label: @color-gray-1;
