@import './colors.less';

//default Border Color
@default-color-border: @color-gray-3;
@default-color-border-hover: @color-indigo-8;
@default-color-border-active: @color-indigo-8;
@default-color-border-error: @mistake-color-red;
@default-color-border-warning: @color-yellow-4;
@default-color-border-info: @color-indigo-7;
