@color-orange-1: #ffedea;
@color-orange-2: #ffc3bb;
@color-orange-3: #ff8867;
@color-orange-4: #fc5f3a;
@color-orange-5: #dd4a3a;
@color-orange-6: #ba3c3c;
@color-orange-7: #8c2121;
@color-indigo-1: #f2f4fc;
@color-indigo-2: #e3e7fc;
@color-indigo-3: #ccd3f1;
@color-indigo-4: #afb8e2;
@color-indigo-5: #7986cb;
@color-indigo-6: #5c6bb5;
@color-indigo-7: #3f4f9f;
@color-indigo-8: #222f73;
@color-black-1: #cccccc;
@color-black-2: #979797;
@color-black-3: #666666;
@color-black-4: #444444;
@color-black-5: #333333;
@color-black-6: #222222;
@color-black-7: #111111;
@color-gray-1: #fafafa;
@color-gray-2: #f2f2f2;
@color-gray-3: #ebebeb;
@color-gray-4: #e3e3e3;
@color-gray-5: #d6d6d6;
@color-green-1: #97edcd;
@color-green-2: #52e0b1;
@color-green-3: #00cf9b;
@color-green-4: #00bc8f;
@color-green-5: #23a57e;
@color-yellow-1: #ffe0a9;
@color-yellow-2: #ffd488;
@color-yellow-3: #ffd15b;
@color-yellow-4: #f8af48;
@color-yellow-5: #ed9014;
@color-blue-1: #a4dfff;
@color-blue-2: #20b4ff;
@color-blue-3: #0090ff;
@color-blue-4: #0f84d3;
@color-blue-5: #1271a5;
@color-purple-1: #f0ecf2;
@color-purple-2: #ada1b2;
@color-purple-3: #716576;
@color-purple-4: #5c4e61;
@color-purple-5: #4e4153;
@table-shadow-color-gray-1: #fafcff;
@table-shadow-color-gray-2: #f7f8fa;
@table-shadow-color-gray-3: #e8edf4;
@table-shadow-color-gray-4: #d8e0eb;
@table-shadow-color-gray-5: #bfcad9;
@mistake-color-red: #f55252;
