@color-orange-1: #FFEDEA;
@color-orange-2: #FFC3BB;
@color-orange-3: #FF8867;
@color-orange-4: #FC5F3A;
@color-orange-5: #DD4A3A;
@color-orange-6: #BA3C3C;
@color-orange-7: #8C2121;
@color-indigo-1: #F2F4FC;
@color-indigo-2: #E3E7FC;
@color-indigo-3: #CCD3F1;
@color-indigo-4: #AFB8E2;
@color-indigo-5: #7986CB;
@color-indigo-6: #5C6BB5;
@color-indigo-7: #3F4F9F;
@color-indigo-8: #222F73;
@color-black-1: #CCCCCC;
@color-black-2: #979797;
@color-black-3: #666666;
@color-black-4: #444444;
@color-black-5: #333333;
@color-black-6: #222222;
@color-black-7: #111111;
@color-gray-1: #FAFAFA;
@color-gray-2: #F2F2F2;
@color-gray-3: #EBEBEB;
@color-gray-4: #E3E3E3;
@color-gray-5: #D6D6D6;
@color-green-1: #97EDCD;
@color-green-2: #52E0B1;
@color-green-3: #00CF9B;
@color-green-4: #00BC8F;
@color-green-5: #23A57E;
@color-yellow-1: #FFE0A9;
@color-yellow-2: #FFD488;
@color-yellow-3: #FFD15B;
@color-yellow-4: #F8AF48;
@color-yellow-5: #ED9014;
@color-blue-1: #A4DFFF;
@color-blue-2: #20B4FF;
@color-blue-3: #0090FF;
@color-blue-4: #0F84D3;
@color-blue-5: #1271A5;
@color-purple-1: #F0ECF2;
@color-purple-2: #ADA1B2;
@color-purple-3: #716576;
@color-purple-4: #5C4E61;
@color-purple-5: #4E4153;
@table-shadow-color-gray-1: #FAFCFF;
@table-shadow-color-gray-2: #F7F8FA;
@table-shadow-color-gray-3: #E8EDF4;
@table-shadow-color-gray-4: #D8E0EB;
@table-shadow-color-gray-5: #BFCAD9;
@mistake-color-red: #F55252;