@default-font-size-1: 10px;
@default-font-size-2: 12px;
@default-font-size-3: 14px;
@default-font-size-4: 16px;
@default-font-size-5: 18px;
@default-font-size-6: 20px;
@default-font-size-7: 24px;
@default-font-size-8: 28px;
@default-font-size-9: 32px;
@default-font-size-10: 42px;
