.default-font-family {
  font-weight: 400;
  font-family: 'PingFang SC', sans-serif;
}
.default-font-primary {
  font-weight: 500;
  font-family: 'PingFang SC', sans-serif;
}
.default-font-second {
  font-weight: 400;
  font-family: 'PingFang SC', sans-serif;
}
.default-font-minor {
  font-weight: 300;
  font-family: 'PingFang SC', sans-serif;
}
.default-font-bold {
  font-weight: 500;
  font-family: 'PingFang SC', sans-serif;
}
.default-font-regular {
  font-weight: 400;
  font-family: 'PingFang SC', sans-serif;
}
.default-font-light {
  font-weight: 300;
  font-family: 'PingFang SC', sans-serif;
}
.default-font-data {
  font-weight: 500;
  font-family: 'DIN Alternate', sans-serif;
}
