.default-font-family {
  font-family: "PingFang SC";
  font-weight: 400;
}
.default-font-primary {
  font-family: "PingFang SC";
  font-weight: 500;
}
.default-font-second {
  font-family: "PingFang SC";
  font-weight: 400;
}
.default-font-minor {
  font-family: "PingFang SC";
  font-weight: 300;
}
.default-font-bold {
  font-family: "PingFang SC";
  font-weight: 500;
}
.default-font-regular {
  font-family: "PingFang SC";
  font-weight: 400;
}
.default-font-light {
  font-family: "PingFang SC";
  font-weight: 300;
}
.default-font-data {
  font-family: "DIN Alternate";
  font-weight: 500;
}