@default-shadow-drop-down: 0 2px 6px 0 #D8E0EB;
@default-shadow-card: 0 0 4px 0 #D8E0EB;
@default-shadow-card-display: 0 0 10px 0 #D8E0EB;
@default-shadow-drag: 0 0 6px 0 #D8E0EB;;
@default-shadow-hover: 0 0 6px 0 #D8E0EB;
@default-shadow-selection: 0 0 6px 0 #D8E0EB;