@import './colors.less';

//Default Text Color
@default-color-text-primary: @color-black-7;
@default-color-text-1: @color-black-5;
@default-color-text-2: @color-black-4;
@default-color-text-3: @color-black-3;
@default-color-text-prompt: @color-black-2;
@default-color-text-disable: @color-black-1;
@default-color-text-brand-primary: #ffffff;
@default-color-text-brand-second: #ffffff;
@default-color-text-brand-orange: @color-orange-4;
@default-color-text-brand-indigo: @color-indigo-7;
@default-color-text-error: @mistake-color-red;
@default-color-text-warning: @color-yellow-5;
@default-color-text-info: @color-indigo-6;
@default-color-text-input-prompt: @color-black-1;
@default-color-text-input-dafault: @color-black-5;
@default-color-text-inverse: #ffffff;
@default-color-text-button-minor: @color-purple-4;
@default-color-text-link: @color-indigo-6;
@default-color-text-link-hover: @color-indigo-7;
@default-color-text-link-active: #222f73;
