@color-primary: #f48267;
@color-primary-hover: #fa7355;
@color-primary-active: #e66649;

@color-small-dark: #7f7583;
@color-small-dark-hover: #887d8c;
@color-font-small-dark: #fff;
@color-font-small-dark-hover: #fff;
@font-size-small-dark: 14px;

@color-font-ghost: #7f7583;
@color-font-ghost-hover: #493c4e;
@color-font-ghost-disabled: #dad1e0;
@color-ghost-hover: #f2f2f2;
@color-ghost-active: #ebebeb;

@color-font-gray: #716576;
@color-font-gray-hover: #333;
@color-font-gray-disabled: #333;
@color-gray: #f9f9f9;
@color-gray-hover: #ededed;

@color-font-blue: #fff;
@color-font-blue-hover: #fff;
@color-font-blue-disabled: #ccc;
@color-blue: #0090ff;
@color-blue-hover: #1fb4ff;
@color-blue-active: #1184d3;

@color-font-royalblue: #222f73;
@color-font-royalblue-hover: #fff;
@color-font-royalblue-active: #fff;
@color-font-royalblue-disabled: #fff;
@color-royalblue: #f2f4fc;
@color-royalblue-hover: #5c6bb5;
@color-royalblue-active: #5c6bb5;

.scrollbar-mixin() {
  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    border: solid 3px transparent;
    box-shadow: inset 0 0 10px 10px transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: initial !important;
    border-right: solid 3px transparent;
    border-left: solid 3px transparent;
    border-radius: 5px !important;
    box-shadow: inset 0 0 10px 10px #cfcfcf;
  }
}
