@import '~@gio-design/tokens/dist/tokens.less';

.gio-link {
  color: @color-link-default-base;
  text-decoration: underline;

  &:hover {
    color: @color-link-default-hover;
    text-decoration: underline;
  }

  &:active {
    color: @color-link-default-active;
  }

  &-disabled:hover,
  &-disabled:active,
  &-disabled[disabled],
  &-disabled {
    color: @color-link-default-disabled;
    cursor: not-allowed;
    opacity: @opacity-disabled;
    pointer-events: initial;
  }

  &-inverse {
    color: @color-link-inverse-base;

    &:hover {
      color: @color-link-inverse-hover;
    }

    &:active {
      color: @color-link-inverse-active;
    }
  }

  &-inverse&-disabled {
    color: @color-link-inverse-disabled;
  }
}
