@import (reference) '../../stylesheet/variables/index.less';
@import (reference) '../../cascader/style/index.less';

@list-prefix-cls: ~'@{component-prefix}-list';

.@{list-prefix-cls} {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 8px;
  row-gap: 4px;

  &.@{cascader-prefix-cls}--list {
    .cascader-list-style();
  }

  &--selection {
    padding: 8px;
    & > .@{list-prefix-cls} {
      padding: 0;
    }
    &--title {
      margin-bottom: 4px;
      padding-left: 12px;
      color: @gray-4;
      .text-h5();
    }
    &--item {
      & > .@{list-prefix-cls} {
        padding: 0;
      }
      position: relative;
      margin-bottom: 16px;
      &::after {
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid @gray-2;
        content: '';
      }
      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
        &::after {
          width: 0;
        }
      }
    }
  }
  &--item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 12px;
    color: @gray-5;
    .text-body1();
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    &--drag {
      justify-content: flex-start;
      cursor: all-scroll;
      & > .@{list-prefix-cls}--item {
        padding: 0;
        background-color: inherit;
      }
      &--icon {
        margin-right: 8px;
        &--disabled {
          cursor: not-allowed;
        }
      }
      &--disabled {
        cursor: no-drop;
      }
    }
    &--ellipsis {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:not(&--disabled):hover {
      background-color: @gray-1;
    }
    &--hovered:not(&--disabled):not(&--multiple) {
      background-color: @gray-1;
    }
    &:not(&--disabled):not(&--drag):active {
      color: @blue-3;
    }
    &:not(&--disabled):not(&--drag):active &-prefix-icon {
      color: @blue-3;
    }
    &--actived:not(&--disabled):not(&--multiple) {
      color: @blue-3;
      background-color: @gray-1;
    }
    &--actived:not(&--disabled):not(&--multiple) &-prefix-icon {
      color: @blue-3;
    }
    &-prefix-icon {
      display: inherit;
      margin-right: 8px;
      color: @gray-5;
    }
    &-suffix-icon {
      display: inherit;
      margin-left: 8px;
      color: @gray-3;
    }
    &--disabled {
      color: @gray-3;
      cursor: not-allowed;
    }
    &--disabled > &-prefix-icon {
      color: @gray-3;
    }
    &--disabled > &-suffix-icon {
      color: @gray-3;
    }
    &--interval {
      margin-top: 4px;
    }

    &--text {
      flex-grow: 1;
    }

    &--checkbox {
      font-size: 0;
    }
  }
}
