@import '~@gio-design/tokens/dist/variables.less';
@import '../../../stylesheet/theme.less';

.gio-alert {
  width: 100%;
  border-radius: 6px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  margin: 12px 0;
  transition: all ease 0.8s;

  & .gio-alert-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: @palette-white;
    align-self: flex-start;
    flex-shrink: 0;
  }

  & .gio-alert-content {
    flex: 1;
    margin: 0 8px;
    font-family: @font-family;
    color: @text-color-base;
    font-size: @size-font-16;
    line-height: 22px;

    & .gio-alert-content-title {
      width: 100%;
      font-weight: @weight-font-medium;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .gio-alert-content-description {
      width: 100%;
      letter-spacing: 0;
    }
  }

  & .gio-alert-closeIcon {
    font-weight: @weight-font-semi-bold;
    cursor: pointer;
    align-self: flex-start;
    flex-shrink: 0;
  }
}

.gio-alert-close {
  display: none;
}

.gio-alert-info {
  background-color: @palette-gray-1;

  & .gio-alert-closeIcon {
    svg {
      fill: @color-background-alert-info;
    }
  }

  & .gio-alert-icon {
    svg {
      fill: @color-background-alert-info;
    }
  }
}

.gio-alert-success {
  background-color: @success-color;
  & .gio-alert-closeIcon {
    fill: @color-background-alert-success;
  }

  & .gio-alert-icon {
    fill: @color-background-alert-success;
  }
}

.gio-alert-warning {
  background-color: @warning-color;
  & .gio-alert-closeIcon {
    svg {
      fill: @color-background-alert-warning;
    }
  }

  & .gio-alert-icon {
    svg {
      fill: @color-background-alert-warning;
    }
  }
}

.gio-alert-error {
  background-color: @error-color;
  & .gio-alert-closeIcon {
    fill: @color-background-alert-error;
  }

  & .gio-alert-icon {
    fill: @color-background-alert-error;
  }
}
