.gio-select-option {
  &.selected {
    // .gio-list-option-desc {
    //   color: #1248e9;
    // }
  }
}
.gio-list_avatar {
  .gio-list-option-title {
    font-size: 14px;
    line-height: 20px;
  }

  .gio-list-option-desc {
    color: #adb2c2;
    font-size: 12px;
    line-height: 20px;
  }

  .gio-avatar {
    margin: 5px;
  }
}
