@button-width: 125px;

.popconfirm-top {
  margin-left: @button-width;
}

.popconfirm-left {
  float: left;
  width: @button-width;
}

.popconfirm-buttom {
  margin-left: @button-width;
}

.popconfirm-right {
  width: 110px;
  margin-left: 550px;
}

.popconfirmSpan {
  display: inline-block;
  width: @button-width;
  padding: 8px;
  text-align: center;
  border: 1px solid #adadad;
}

.popconfirmDisplay {
  width: 700px;
  height: 400px;
  padding: 300px;
  .gio-btn {
    width: @button-width;
    margin: 10px;
  }
}
