.gio-checkbox {
  .ant-checkbox-checked,
  .ant-checkbox-indeterminate {
    .ant-checkbox-inner {
      background-color: #3a9afc;
      border-color: #3a9afc;
    }
    &.ant-checkbox-disabled .ant-checkbox-inner {
      background-color: #f2f2f2;
    }
  }
  &.ant-checkbox-wrapper {
    &:hover {
      .ant-checkbox-inner {
        border-color: #3a9afc;
      }
    }
  }
}
