@import '../../../stylesheet/theme.less';
@import '../../../stylesheet/mixin/index.less';
@import '~@gio-design/tokens/dist/variables.less';

@tree-prefix-cls: ~'@{component-prefix}-tree';
@tree-node-prefix-cls: ~'@{tree-prefix-cls}-treenode';

.antTreeFn(@tree-prefix-cls);

.antTreeFn(@custom-tree-prefix-cls) {
  @custom-tree-node-prefix-cls: ~'@{custom-tree-prefix-cls}-treenode';
  .@{custom-tree-prefix-cls} {
    .reset-component;
    background: @color-background-tree-normal;
    border-radius: @radius-border-tree;
    transition: background-color 0.3s;

    // =================== Virtual List ===================
    &-list-holder-inner {
      align-items: flex-start;
    }

    // ===================== TreeNode =====================
    .@{custom-tree-node-prefix-cls} {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 40px;
      margin: 2px 0;
      padding: 0;
      color: @color-text-tree-normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 40px;
      border-radius: @radius-border-tree;
      outline: none;
      &:hover {
        background-color: @color-background-tree-hover;
      }
      // Disabled
      &-disabled {
        .@{custom-tree-prefix-cls}-node-content-wrapper {
          color: @color-text-tree-disable;
          cursor: not-allowed;
          .@{custom-tree-prefix-cls}-iconEle {
            svg {
              color: @color-text-tree-disable;
              path {
                fill: @color-text-tree-disable;
              }
            }
          }
        }
      }
      // Selected
      &-selected {
        background-color: @color-background-tree-active;
        .@{custom-tree-prefix-cls}-node-content-wrapper {
          color: @color-text-tree-selected;
          .@{custom-tree-prefix-cls}-iconEle {
            svg {
              color: @color-text-tree-selected;
              path {
                fill: @color-text-tree-selected;
              }
            }
          }
        }
      }
    }

    // >>> Indent
    &-indent {
      align-self: stretch;
      white-space: nowrap;
      user-select: none;

      &-unit {
        display: inline-block;
        width: 24px;
      }
    }

    // >>> Switcher
    & &-switcher {
      flex: none;
      width: 14px;
      height: 14px;
      margin: 0;
      margin: 2px 8px 0;
      line-height: 40px;
      text-align: center;
      cursor: pointer;

      &-noop {
        cursor: default;
      }

      &_close {
        svg.@{custom-tree-prefix-cls}-switcher-icon {
          transform: rotate(-90deg);
        }
      }
    }

    // >>> Title
    & &-node-content-wrapper {
      width: 100%;
      cursor: pointer;

      .@{custom-tree-prefix-cls}-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      // Icon
      .@{custom-tree-prefix-cls}-iconEle {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 2px 8px 0 0;
        line-height: 16px;
        text-align: center;
        vertical-align: middle;
        &:empty {
          display: none;
        }
      }
    }
  }
}
