@import '../../stylesheet/index.less';
@import '../../stylesheet/mixin/index.less';
@import '../../stylesheet/variables/index.less';

@picker-prefix-cls: ~'@{component-prefix}-time-picker-new';

.@{picker-prefix-cls}-overlay {
  height: fit-content;
  background: @gray-0;
  border-radius: 4px;
  .elevation(2);
}
