@import '../../stylesheet/variables/index.less';

@toast-prefix-cls: ~'@{component-prefix}-toast';

.@{toast-prefix-cls} {
  position: fixed;
  top: 16px;
  left: 0;
  z-index: 2147483647;
  width: 100%;
  pointer-events: none;

  &-notice {
    padding: 8px;
    text-align: center;
    &:first-child {
      margin-top: -8px;
    }
  }

  &-notice-content {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    padding: 9px 60px;
    color: @gray-5;
    font-size: 14px;
    line-height: 22px;
    background-color: @gray-0;
    border-radius: 4px;
    pointer-events: all;
    .elevation(2);
  }
  &-custom-content {
    height: 22px;
  }
  &-icon {
    margin-right: 8px;
    vertical-align: middle;
  }

  &-notice.move-up-enter.move-up-enter-active {
    animation-name: MessageMoveEnter;
    animation-duration: 1s;
  }

  &-notice.move-up-leave.move-up-leave-active {
    animation-name: MessageMoveOut;
    animation-duration: 0.3s;
  }
}

@keyframes MessageMoveEnter {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}

.@{toast-prefix-cls}-rtl {
  direction: rtl;

  span {
    direction: rtl;
  }

  &-icon {
    margin-right: 0;
    margin-left: 8px;
  }
}
