.gio-popover-inner-content {
  .displayInput {
    display: block;
    height: 30px;
    width: 220px;
    border: 1px solid #dcdfed;
    border-radius: 4px;
    background-color: #ffffff;
    &:focus {
      outline: none;
    }
  }
}
.popoverSpan {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #adadad;
  text-align: center;
  margin: 10px;
}

.button {
  height: 30px;
  border-radius: 4px;
  background-color: #3867f4;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  display: inline-block;
  padding: 4px 16px;
}
