@import (reference) '../../stylesheet/variables/index.less';

@switch-prefix-cls: ~'@{component-prefix}-switch';

@switch-disabled: ~'@{switch-prefix-cls}-disabled';
@switch__wrapper: ~'@{switch-prefix-cls}__wrapper';
@switch__wrapper__checked: ~'@{switch-prefix-cls}__wrapper__checked';
@switch__wrapper__disabled: ~'@{switch-prefix-cls}__wrapper__disabled';
@switch__group: ~'@{switch-prefix-cls}__group';

.@{switch__wrapper} {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 12px;
  color: @gray-5;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid @gray-2;
  border-radius: 4px;
  cursor: pointer;

  &:not(:last-of-type) {
    border-right-color: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(:first-of-type) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='radio'].@{switch-prefix-cls} {
      display: none;
    }
    input[type='radio'].@{switch-disabled} {
      display: none;
    }
  }

  > span.gio-icon {
    display: flex;
    align-items: center;
  }

  &:hover {
    color: @blue-3;
  }

  &__disabled {
    cursor: not-allowed;
    &:hover {
      color: @gray-3;
    }
  }
}

.@{switch-prefix-cls}-prefix {
  margin-right: 8px;
}

.@{switch__wrapper__checked} {
  color: @blue-3;
  background: @gray-1;
}

.@{switch__wrapper__disabled} {
  color: @gray-3;
  background: @gray-1;
}

.@{switch-disabled} {
  background-color: @gray-1;
  border-color: @gray-2;
  box-shadow: none;
}

.@{switch__group} {
  @switch-small-height: 30px;
  @switch-normal-height: 36px;

  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-radius: 4px;

  &_small {
    height: @switch-small-height;
    line-height: 28px;
  }

  &_normal {
    height: @switch-normal-height;
    line-height: 34px;
  }
}
