@import (reference) '../../stylesheet/variables/index.less';

@link-prefix-cls: ~'@{component-prefix}-link';

.@{link-prefix-cls} {
  .reset() {
    margin: 0;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }
  box-sizing: border-box;
  color: @blue-2;
  cursor: pointer;
  .text-body1();
  .reset();

  &::-moz-focus-inner {
    border-style: none;
  }

  &:not([aria-disabled='true']):hover,
  &:not([aria-disabled='true']):active,
  &:not([aria-disabled='true'], :focus-visible):focus {
    color: @blue-3;
    .reset();
  }
  &:not([aria-disabled='true']):focus-visible {
    color: @blue-3;
    outline: auto;
  }

  &_loading {
    color: @blue-3;
    cursor: not-allowed;
    &:active {
      text-decoration: none;
      pointer-events: none;
    }
  }

  &[aria-disabled='true']:not(&_loading) {
    color: @gray-3;
    text-decoration: none;
    cursor: not-allowed;
    &:active {
      pointer-events: none;
    }
  }

  &-prefix-icon {
    margin-right: 8px;
    & svg {
      width: 1em;
      height: 1em;
    }
  }
}
