@import (reference) '../../stylesheet/variables/index.less';

@link-prefix-cls: ~'@{component-prefix}-link';

.@{link-prefix-cls} {
  box-sizing: border-box;
  margin: 0;
  color: @blue-2;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  .text-body1();

  &::-moz-focus-inner {
    border-style: none;
  }

  &:hover,
  &:active,
  &:not(:focus-visible):focus {
    color: @blue-3;
    text-decoration: none;
    outline: 0;
  }
  &:focus-visible {
    color: @blue-3;
    text-decoration: none;
    outline: auto;
  }

  &_loading {
    color: @blue-3;
    cursor: not-allowed;
  }

  &_disabled,
  &_disabled:active,
  &_disabled:hover,
  &_disabled:not(:focus-visible):focus {
    color: @gray-3;
    cursor: not-allowed;
  }

  &-prefix-icon {
    margin-right: 8px;
    & svg {
      width: 1em;
      height: 1em;
    }
  }
}
