@import (reference) '../../stylesheet/variables/index.less';

@static-time-picker-prefix-cls: ~'@{component-prefix}-static-time-picker';

.@{static-time-picker-prefix-cls} {
  &-panel {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding-top: 4px;
    background-color: @gray-0;
    .elevation(1);
  }

  &--three-columns {
    .@{static-time-picker-prefix-cls}-time-panel-column {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  &-time-panel {
    &-column {
      box-sizing: border-box;
      width: 80px;
      height: 240px;
      margin: 0;
      padding: 8px;
      overflow: hidden scroll;
      list-style-type: none;
      border-right: 1px solid @gray-2;
      .scrollbar();
    }

    &-column:last-child {
      border-right: none;
    }

    &-cell {
      margin-top: 4px;
      padding: 4px 12px;
      color: @gray-5;
      .text-body1();
      list-style-type: none;
      background-color: @gray-0;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: @gray-1;
      }

      &-selected,
      &:active {
        color: @blue-3;
        background-color: @gray-1;
      }

      &-inner {
        display: inline-block;
      }
    }
  }

  &-footer {
    border-top: 1px solid @gray-2;

    &-extra {
      display: flex;
      justify-content: space-between;
      padding: 12px;
    }
  }

  &-ranges {
    display: none;
  }
}
