.table-demo {
  border-spacing: 0;
  th {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    background-color: #f7f8fc;
  }
  td {
    padding: 5px 5px;
    font-size: 14px;
    border: 1px solid #f7f8fc;
  }
}
