@import '../../stylesheet/variables/index.less';

@divider-prefix-cls: ~'@{component-prefix}-divider-new';

.@{divider-prefix-cls} {
  margin: 20px 0;
  border: 0 solid @gray-2;
  border-top-width: thin;

  &_vertical {
    display: inline-block;
    height: 1em;
    margin: 0 8px;
    border-top-width: 0;
    border-left-width: thin;
    transform: translateY(0.1em);
  }

  &_flex_item {
    display: block;
    align-self: stretch;
    height: auto;
    margin: 0 8px;
    transform: translateY(0);
  }
}
