@import '../../../stylesheet/index.less';

@gio-link-prefix: ~'@{component-prefix}-link';
@gio-link-disabled: ~'@{gio-link-prefix}--disabled';

// normal
.@{gio-link-prefix} {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  color: @color-text-link-normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration: underline;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    color: @color-text-link-hover;
    text-decoration: underline;
  }

  &:active {
    color: @color-text-link-click;
  }
}

// disabled
.@{gio-link-disabled} {
  color: @color-text-link-disable;
  cursor: not-allowed;

  &.@{gio-link-prefix} {
    &:hover,
    &:active {
      color: @color-text-link-disable;
      text-decoration: underline;
    }
  }
}
