@import '../../stylesheet/variables/index.less';

@popover-prefix-cls: ~'@{component-prefix}-popover-new';
@popover-arrow-prefix-cls: ~'@{component-prefix}-popover-new__arrow';

.@{popover-prefix-cls} {
  &__popcorn {
    display: inline-block;
  }
  &__content {
    box-sizing: border-box;
    padding: 8px 16px;
    color: @gray-0;
    background: @gray-5;
    border-radius: 4px;
    visibility: hidden;

    &[data-popper-placement^='top'] > .@{popover-arrow-prefix-cls} {
      bottom: -4px;
    }

    &[data-popper-placement^='bottom'] > .@{popover-arrow-prefix-cls} {
      top: -4px;
    }

    &[data-popper-placement^='left'] > .@{popover-arrow-prefix-cls} {
      right: -4px;
    }

    &[data-popper-placement^='right'] > .@{popover-arrow-prefix-cls} {
      left: -4px;
    }
  }

  &__arrow {
    visibility: hidden;
    &,
    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
      transform: rotate(45deg);
      visibility: visible;
    }

    &::before {
      content: '';
    }
  }
}
