@import '../../stylesheet/variables/index.less';

@popover-prefix-cls: ~'@{component-prefix}-popover-new';
@popover-arrow-prefix-cls: ~'@{component-prefix}-popover-new__arrow';

.@{popover-prefix-cls} {
  &__popcorn {
    display: inline-block;
  }
  &__content {
    visibility: hidden;

    &-inner {
      padding: 8px 12px;
      border: 1px solid @gray-2;
    }

    &-arrow {
      &-allowed {
        &[data-popper-placement^='top'] {
          padding-bottom: 11px;
          & > .@{popover-arrow-prefix-cls} {
            bottom: 7px;
            background: #fff;
            &::before {
              border-top: 1 px solid var(--gray-2, #dfe4ee);
              border-left: 1 px solid var(--gray-2, #dfe4ee);
            }
          }
        }

        &[data-popper-placement^='bottom'] {
          padding-top: 9px;
          & > .@{popover-arrow-prefix-cls} {
            top: 4px;
            background: #fff;
            &::before {
              border-right: 1 px solid var(--gray-2, #dfe4ee);
              border-bottom: 1 px solid var(--gray-2, #dfe4ee);
            }
          }
        }

        &[data-popper-placement^='left'] {
          padding-right: 11px;
          & > .@{popover-arrow-prefix-cls} {
            right: 7px;
            background: #fff;
            &::before {
              border-bottom: 1 px solid var(--gray-2, #dfe4ee);
              border-left: 1 px solid var(--gray-2, #dfe4ee);
            }
          }
        }

        &[data-popper-placement^='right'] {
          padding-left: 10px;
          & > .@{popover-arrow-prefix-cls} {
            left: 5px;
            background: #fff;
            &::before {
              border-top: 1 px solid var(--gray-2, #dfe4ee);
              border-right: 1 px solid var(--gray-2, #dfe4ee);
            }
          }
        }
      }

      &-rejected {
        &[data-popper-placement^='top'] {
          padding-bottom: 4px;
          & > .@{popover-arrow-prefix-cls} {
            bottom: 0;
          }
        }

        &[data-popper-placement^='bottom'] {
          padding-top: 4px;
          & > .@{popover-arrow-prefix-cls} {
            top: 0;
          }
        }

        &[data-popper-placement^='left'] {
          padding-right: 4px;
          & > .@{popover-arrow-prefix-cls} {
            right: 0;
          }
        }

        &[data-popper-placement^='right'] {
          padding-left: 4px;
          & > .@{popover-arrow-prefix-cls} {
            left: 0;
          }
        }
      }
    }

    &-display {
      visibility: unset;
      .@{popover-prefix-cls} {
        &__arrow {
          visibility: hidden;
          &::before {
            visibility: visible;
          }
        }
      }
    }
  }

  &__arrow {
    visibility: hidden;
    &,
    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
      border: 1px solid @gray-2;
      transform: rotate(45deg);
    }

    &::before {
      content: '';
    }
  }
}
