@import '../../../stylesheet/index.less';

@text-prefix-cls-legacy: ~'@{component-prefix}-text-legacy';

.@{text-prefix-cls-legacy} {
  .font();
  color: var(--color, 'inherit');
  &--small {
    font-size: 12px;
    line-height: 20px;
  }
  &--midlle {
    font-size: 14px;
    line-height: 22px;
  }
  &--large {
    font-size: 16px;
    line-height: 24px;
  }
}
