@import '../../../stylesheet/index.less';
@import '../../../stylesheet/mixin/border.less';
@import '../../../stylesheet/mixin/elevation.less';

@input-btn-prefix-cls: ~'@{component-prefix}-input-btn';
@icon-prefix-cls: ~'@{component-prefix}-input__prefix';
@input-prefix-cls: ~'@{component-prefix}-input';

.@{input-btn-prefix-cls} {
  .@{icon-prefix-cls} {
    cursor: auto;
    svg {
      cursor: auto;
    }
  }
  .@{input-prefix-cls} {
    &:not([disabled])::placeholder {
      color: @gray-5;
      font-size: @font-size-base;
    }
    &:disabled {
      color: @gray-3;
      background-color: @gray-0;
      &::placeholder {
        color: @gray-3;
        font-size: @font-size-base;
      }
      &:hover {
        color: @gray-3;
        background-color: @gray-0;
        &::placeholder {
          color: @gray-3;
        }
      }
    }

    &:not([disabled]):focus {
      border: 1px solid @gray-2;
      outline: none;
    }
  }
  &:hover {
    .@{input-prefix-cls}:not([disabled]) {
      color: @blue-3;
      background-color: @gray-1;
      border: 1px solid @gray-2;
      &:not([disabled])::placeholder {
        color: @blue-3;
      }

      &:not([disabled]):hover {
        color: @blue-3;
        border: 1px solid @gray-2;
      }
    }
    .@{icon-prefix-cls} {
      color: @blue-3;
      svg {
        color: @blue-3;
      }
    }
  }
  &__disabled {
    svg {
      color: @gray-3 !important;
      cursor: not-allowed;
    }
  }
}
