@import '../../tab-nav/style/index.less';

@tabs-prefix-cls-legacy: ~'@{component-prefix}-tabs-legacy';
@tabnav-prefix-cls-legacy: ~'@{component-prefix}-tabnav';

.@{tabs-prefix-cls-legacy} > .@{tabnav-prefix-cls-legacy} {
  margin-bottom: 16px;
}
