@import '../../../stylesheet/index.less';

@gio-prefix: ~'@{component-prefix}';
@select-prefix-cls: ~'@{component-prefix}-select';
@select-input-fontSize: 14px;
@color-font-list-primary-normal: @palette-black-6; // $color-black-6

.@{select-prefix-cls} {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: @radius-border-small;
  outline: none;
  transition: all 0.2s;
  &-selector {
    box-sizing: border-box;
    width: 100%;
    min-height: 34px;
    max-height: 32px * 3.5px;
    padding: 0 32px 5px 8px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: @radius-border-small;
    transition: all 0.2s;

    &::-webkit-scrollbar {
      width: 2px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: @palette-gray-3;
    }
  }

  &-values-wrapper {
    position: relative;
    width: 100%;
  }

  &-bordered {
    border: 1px solid @color-border-input-normal;
  }

  &-bordered:not(&-disabled):not(&-focused):hover {
    border: 1px solid @color-border-input-active;
  }

  &:not(&-bordered):not(&-disabled):hover {
    background-color: @color-background-button-default-hover;
    border: 1px solid transparent;
  }

  &-focused:not(&-bordered):not(&-disabled) {
    background-color: @color-background-tree-normal;
    border: 1px solid @color-background-button-primary-hover;
    border-radius: 4px;
  }

  &-focused {
    box-shadow: 0 0 6px 0 #c0c4d3;

    .@{select-prefix-cls} {
      &-item-all {
        opacity: 0.5;
      }
    }
  }

  &-arrow {
    position: absolute;
    top: 0;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #a3adc8;
    transition: all 0.2s;

    &-focused {
      transform: rotate(-180deg);
    }
  }

  &-item {
    max-width: calc(100% - 8px);
    margin-top: 7px;
    margin-left: 8px;
    font-size: @select-input-fontSize;
    transition: margin 0.2s;

    &-text {
      overflow: hidden;
      color: #313e75;
      font-size: 14px;
      line-height: 22px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-item-all {
    display: inline-flex;
    max-width: calc(100% - 12px);
    margin-top: 7px;
    margin-left: 8px;
    font-size: @select-input-fontSize;
    transition: margin 0.2s;

    &-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: @palette-black-3;
    opacity: 0.5;
  }

  &-small {
    &-input {
      line-height: 20px;
    }

    .@{select-prefix-cls} {
      &-selector {
        min-height: 28px;
        max-height: 28px * 3.5px;
        padding: 0 32px 2px 8px;
      }

      &-values-wrapper {
        // margin-top: -1px;
        line-height: 20px;
      }

      &-item {
        margin-top: 5px;
        margin-left: 4px;
      }
      &-item-all {
        margin-top: 5px;
        margin-left: 4px;
      }
    }
  }

  &-large {
    .@{select-prefix-cls} {
      &-selector {
        min-height: 38px;
        max-height: 34px * 3.5px;
        padding: 0 32px 7px 8px;
      }

      // &-values-wrapper {
      //   line-height: 24px;
      // }
      &-item {
        margin-top: 9px;
        margin-left: 8px;
      }
      &-item-all {
        margin-top: 5px;
        margin-left: 4px;
      }
    }
  }

  &-disabled {
    color: @palette-gray-5;
    text-shadow: none;
    background: @color-background-input-disable;
    border-color: @color-border-input-disable;
    cursor: not-allowed !important;
  }

  &-focused&-bordered {
    border: 1px solid @color-border-input-active;
  }

  &-focused:not(&-bordered) {
    background-color: @color-background-button-default-hover;
  }

  &-input {
    box-sizing: content-box;
    padding: 0;
    background: none;
    border: none;
    outline: none;
  }

  &-input-reference {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
  }

  &-single {
    .@{select-prefix-cls} {
      &-item {
        display: inline-flex;
      }
    }
  }

  &-single&-focused {
    .@{select-prefix-cls} {
      &-item {
        opacity: 0.5;
      }

      &-input {
        position: absolute;
        top: 1px;
        left: 0;
        opacity: 1;
      }
    }
  }

  &-dropdown {
    .@{gio-prefix} {
      &-dropdown-content {
        padding: 0;
        box-shadow: 0 6px 14px 0 rgba(223, 226, 237, 0.8);
      }
    }
  }

  &-search-highlight {
    background-color: #ffcf3c;
  }

  &-not-found {
    width: 100%;
    color: #a3adc8;
    text-align: center;

    &-icon {
      margin-bottom: 40px;
    }
  }
}

.@{select-prefix-cls}-list {
  box-sizing: border-box;
  min-width: 160px;
  padding: 16px 0 16px 8px;
}

.@{select-prefix-cls}-list-option {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 4px;
  padding: 0 25px 0 16px;
  overflow: hidden;
  color: @color-font-list-primary-normal;
  font-size: 14px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:not(&-disabled):hover {
    background-color: @palette-gray-3;
  }

  &-disabled {
    color: @palette-gray-5;
    text-shadow: none;
    border-color: @color-border-input-disable;
    cursor: not-allowed !important;
  }

  &-isSelected {
    color: @color-background-button-primary-hover;
    background-color: @palette-gray-3;
  }
}

.@{select-prefix-cls}-list-option-all {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 25px 0 16px;
  overflow: hidden;
  color: @color-font-list-primary-normal;
  font-size: 14px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 0.5px solid #dfe4ee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.@{select-prefix-cls}-list-group {
  padding: 6px 16px;
  color: @color-background-button-primary-hover;
  font-size: 12px;
  line-height: 20px;
}
