.tooltip-top {
  margin-left: 100px;
}
.tooltip-top > .tooltipSpan {
  margin: 0 10px;
}
.tooltip-left {
  float: left;
  width: 100px;
}
.tooltip-left > .tooltipSpan {
  margin: 10px 0;
}
.tooltip-buttom {
  margin-left: 100px;
}
.tooltip-buttom > .tooltipSpan {
  margin: 0 10px;
}
.tooltip-right {
  width: 110px;
  margin-left: 450px;
}
.tooltip-right > .tooltipSpan {
  margin: 10px 0;
}
.tooltipSpan {
  display: inline-block;
  width: 100px;
  padding: 8px;
  text-align: center;
  border: 1px solid #adadad;
}
