@import '~@gio-design/tokens/dist/tokens.less';

@message-prefix-cls: gio-message;

.@{message-prefix-cls} {

  position: fixed;
  top: 16px;
  left: 0;
  z-index: 2147483647;
  width: 100%;
  pointer-events: none;

  &-notice {
    padding: 8px;
    text-align: center;
    &:first-child {
      margin-top: -8px;
    }
  }

  &-notice-content {
    display: inline-block;
    padding: 9px 60px;
    background-color: #fff;;
    box-shadow: 0 3px 6px -4px rgba(223,226,237,0.8), 0 6px 16px 0 rgba(223,226,237,0.8), 0 9px 28px 8px rgba(223,226,237,0.8);
    border-radius: 4px;
    pointer-events: all;
    font-size: 14px;
    line-height: 22px;
    color: #313e75;
  }

  &-success &-icon svg {
    color: #008A56;
  }

  &-error &-icon svg {
    color: #F21300;
  }

  &-warning &-icon svg {
    color: #FAAD14;
  }

  &-icon {
    position: relative;
    top: -1px;
    margin-right: 3px;
  }

  // &-notice.move-up-enter.move-up-enter-active {
  //   animation-name: MessageMoveEnter;
  // }

  &-notice.move-up-leave.move-up-leave-active {
    animation-name: MessageMoveOut;
    animation-duration: 0.3s;
  }
}

// @keyframes MessageMoveEnter {
//   0% {
//     transform: translateY(-100%);
//     transform-origin: 0 0;
//     opacity: 0;
//   }

//   100% {
//     transform: translateY(0%);
//     transform-origin: 0 0;
//     opacity: 1;
//   }
// }

@keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}

.@{message-prefix-cls}-rtl {
  direction: rtl;

  span {
    direction: rtl;
  }

  &-icon {
    margin-right: 0;
    margin-left: 8px;
  }
}