.gio-modal {
  .ant-modal-content {
    border-radius: 2px;
    .ant-modal-close-x {
      // position: relative;
      // top: 10px;
      width: 66px;
      height: 66px;
      font-size: 16px;
      line-height: 66px;
    }
    .ant-modal-header {
      padding: 22px 0;
      background-color: #fafafa;
      .ant-modal-title {
        color: #666;
        font-weight: 500;
        font-size: 16px;
        font-family: 'PingFang SC', sans-serif;
        text-align: center;
      }
    }
  }
  &__step-back {
    position: absolute;
    top: 0;
    height: 66px;
    line-height: 66px;
  }
  &--overflow-y-scroll {
    height: ~'calc(100% - 106px)';
    .ant-modal-body {
      overflow: scroll;
    }
    & > .ant-modal-content {
      height: ~'calc(100% - 60px)';
      background-color: transparent;
      box-shadow: none;
      & > .ant-modal-footer {
        background-color: #fff;
      }
      & > .ant-modal-body {
        min-height: 400px !important;
        max-height: ~'calc(100% - 114px)';
        background-color: #fff;
        & > .gio-modal__step-container {
          width: 100%;
          min-height: 368px !important;
          max-height: ~'calc(100% - 114px)';
          overflow: scroll;
        }
      }
    }
  }
}
