@import '../../../stylesheet/theme.less';
@import '../../../stylesheet/mixin/index.less';

@checkbox-prefix-cls: ~'@{component-prefix}-checkbox';
@checkbox-inner-prefix-cls: ~'@{checkbox-prefix-cls}-inner';
@group-prefix-cls: ~'@{checkbox-prefix-cls}-group';

.@{checkbox-prefix-cls} {
  .@{checkbox-prefix-cls}-wrapper:hover &-inner,
  &:hover &-inner,
  &-input:focus + &-inner {
    border-color: @checkbox-border-color-checked;
  }

  position: relative;
  &-wrapper {
    .reset-component();
    position: relative;
    display: inline-block;
    margin-right: 16px;
    white-space: nowrap;
    cursor: pointer;
  }

  &-input {
    display: none;
  }

  .@{checkbox-inner-prefix-cls} {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: @background-color-base;
    border: @checkbox-border;
    transition: all 0.3s;
    display: inline-block;
    margin-right: 8px;
    vertical-align: text-bottom;

    border-collapse: separate;
    transition: all 0.3s;

    &::after {
      @factor: 12px;
      @check-width: (16px / 14) * 5px;
      @check-height: (16px / 14) * 8px;
      position: absolute;
      top: 40%;
      left: 20%;
      display: table;
      width: @check-width;
      height: @check-height;
      border: 1px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(1) translate(-50%, -50%);
      opacity: 1;
      transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    }
  }

  &-checked {
    .@{checkbox-inner-prefix-cls} {
      border-color: @checkbox-border-color-checked;
      background-color: @checkbox-background-color-checked;
      &::after {
        content: ' ';
      }
    }
  }

  &-disabled {
    .@{checkbox-inner-prefix-cls} {
      background-color: @checkbox-background-color-disabled;
      border-color: @checkbox-border-color-disabled !important;
      cursor: not-allowed;

      &::after {
        border-color: rgba(0, 0, 0, 0.25);
      }
    }

    & + span {
      color: @text-color-disabled;
      cursor: not-allowed;
      opacity: 0.3;
    }
  }

  &-indeterminate {
    .@{checkbox-inner-prefix-cls} {
      &::after {
        transform: translate(-50%, -50%) scale(1);
        top: 50%;
        left: 50%;
        width: 70%;
        height: 0;
        border-right: 0;
      }
    }
  }
}
