@import '../../../stylesheet/theme.less';
@import '../../../stylesheet/mixin/index.less';

@checkbox-prefix-cls: ~'@{component-prefix}-checkbox';
@checkbox-inner-prefix-cls: ~'@{checkbox-prefix-cls}-inner';
@group-prefix-cls: ~'@{checkbox-prefix-cls}-group';
@checkbox-wrapper-cls: ~'@{checkbox-prefix-cls}-wrapper';

.@{checkbox-wrapper-cls} {
  .reset-component();
  position: relative;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}

.@{checkbox-prefix-cls} {
  .@{checkbox-prefix-cls}-wrapper:hover &-inner,
  &:hover &-inner,
  &-input:focus + &-inner {
    border-color: @checkbox-border-color-checked;
  }

  position: relative;

  &-input {
    display: none;
    margin-right: 8px;
  }

  width: 16px;
  height: 16px;
  transition: all 0.3s;
  display: inline-block;
  margin-right: 8px;
  vertical-align: text-bottom;

  .@{checkbox-inner-prefix-cls} {
    background-color: @background-color-base;
    border: @border-width-base @border-style-base @border-color-base;

    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    display: block;
    border-radius: 8px;
    box-shadow: inset -0.5px 1px 2px 0 rgba(163, 173, 200, 0.8);
    transform: scale(0.5);
    transition: all 0.3s;

    border-collapse: separate;
    transition: all 0.3s;
    box-shadow: inset -0.5px 1px 2px 0 rgba(163, 173, 200, 0.8);
    transform: scale(0.5);

    &::after {
      @factor: 12px;
      @check-width: (32px / 14) * 5px;
      @check-height: (32px / 14) * 8px;
      position: absolute;
      top: 45%;
      left: 22%;
      display: table;
      width: @check-width;
      height: @check-height;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(1) translate(-50%, -50%);
      opacity: 1;
      transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    }
  }

  &-checked {
    .@{checkbox-inner-prefix-cls} {
      border-color: @checkbox-border-color-checked;
      background-color: @checkbox-background-color-checked;
      box-shadow: unset;
      &::after {
        content: ' ';
      }
    }
  }

  &-disabled {
    .@{checkbox-inner-prefix-cls} {
      background-color: @checkbox-background-color-disabled;
      border-color: @checkbox-border-color-disabled !important;
      cursor: not-allowed;
      box-shadow: unset;

      &::after {
        border-color: rgba(0, 0, 0, 0.25);
      }
    }

    & + span {
      color: @text-color-disabled;
      cursor: not-allowed;
      opacity: 0.3;
    }
  }

  &-indeterminate {
    .@{checkbox-inner-prefix-cls} {
      &::after {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 60%;
        height: 0;
        border-right: 0;
      }
    }
  }
}

.@{group-prefix-cls} {
  &--vertical {
    .@{checkbox-wrapper-cls}{
      margin-bottom: 16px;
      display: block;
    }
  }
  &--horizontal {
    .@{checkbox-wrapper-cls}{
      margin-right: 24px;
    }
  }
}
