@import '../../../stylesheet/index.less';
@import '../../../stylesheet/mixin/index.less';

@checkbox-prefix-cls: ~'@{component-prefix}-checkbox';
@checkbox-inner-prefix-cls: ~'@{checkbox-prefix-cls}-inner';
@checkbox-icon-cls: ~'@{checkbox-prefix-cls}-icon';
@group-prefix-cls: ~'@{checkbox-prefix-cls}-group';
@checkbox-wrapper-cls: ~'@{checkbox-prefix-cls}-wrapper';

@checkbox-background-color-checked: #1248e9;
@checkbox-border-color-checked: #1248e9;
@checkbox-background-color-disabled: @background-color-disabled;
@checkbox-border-color-disabled: @border-color-disabled;
@checkbox-border: @border-width-base @border-style-base @border-color-base;

@check-width: (32px / 14) * 5px;
@check-height: (32px / 14) * 8px;

.@{checkbox-wrapper-cls} {
  .reset-component();
  position: relative;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  &-disabled {
    cursor: not-allowed;
  }

  &:hover {
    .@{checkbox-prefix-cls} {
      &-cool {
        .@{checkbox-inner-prefix-cls} {
          border-color: @checkbox-border-color-checked;
          box-shadow: inset -0.5px 1px 2px 0 rgba(163, 173, 200, 0.8), 0 2px 4px 0 rgba(223, 226, 237, 0.94);
        }
      }
    }
  }

  .@{checkbox-prefix-cls} {
    &-cool {
      .@{checkbox-inner-prefix-cls} {
        box-shadow: inset -0.5px 1px 2px 0 rgba(163, 173, 200, 0.8);
      }
    }
  }
}

.@{checkbox-icon-cls} {
  position: absolute;
  top: 8px;
  left: 3px;
  z-index: 999;
  width: 10px;
  transform: scale(0);
  transition: all 0.5s;
  fill: #fff;
  &-checked {
    transform: scale(1);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  }
  &-disabled {
    fill: #dfe2ed;
  }
  &-indeterminate {
    display: none;
  }
}

.@{checkbox-prefix-cls} {
  position: relative;

  &-input {
    display: none;
    margin-right: 8px;
  }

  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: text-bottom;

  .@{checkbox-inner-prefix-cls} {
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    z-index: 1;
    display: block;
    background-color: @background-color-base;
    border: @border-width-base @border-style-base @border-color-base;
    border-radius: 8px;
    border-collapse: separate;
    transform: scale(0.5);
    transition: all 0.9s;

    /**
     * 部分选中的横线
     */
    &::after {
      position: relative;
      top: 50%;
      left: 20%;
      display: block;
      width: 60%;
      height: 2px;
      margin-top: -1px;
      background-color: #fff;
      border-radius: 1px;
      transform: scale(0);
      content: ' ';
    }
  }

  &-checked {
    .@{checkbox-inner-prefix-cls} {
      background-color: @checkbox-background-color-checked;
      border-color: @checkbox-border-color-checked;
    }
  }

  &-disabled&-checked {
    & + span {
      color: unset;
      opacity: unset;
    }
  }

  &-indeterminate {
    .@{checkbox-inner-prefix-cls} {
      &::after {
        transform: scale(1);
        transition: all 0.5s;
      }
    }
  }
  &-disabled {
    .@{checkbox-inner-prefix-cls} {
      background-color: @checkbox-background-color-disabled;
      border-color: @checkbox-border-color-disabled !important;
      &::after {
        background-color: #dfe2ed;
      }
    }

    & + span {
      color: @text-color-disabled;
      opacity: 0.3;
    }
  }

  &-cool {
    .@{checkbox-inner-prefix-cls} {
      box-shadow: inset -0.5px 1px 2px 0 rgba(163, 173, 200, 0.8);
    }
  }
}

.@{group-prefix-cls} {
  &--vertical {
    .@{checkbox-wrapper-cls} {
      display: block;
      margin-bottom: 16px;
    }
  }
  &--horizontal {
    .@{checkbox-wrapper-cls} {
      margin-right: 24px;
    }
  }
}
