@import '../../stylesheet/variables/index.less';

@progress-prefix-cls: ~'@{component-prefix}-progress';

.@{progress-prefix-cls} {
  display: flex;
  align-items: center;
  height: 24px;
  color: @gray-5;
  font-weight: normal;
  .text-h3();

  &-trail {
    flex-basis: 100%;
    overflow: hidden;
    background-color: @gray-2;
    border-radius: 24px;
  }

  &-default {
    height: 16px;
  }

  &-small {
    height: 8px;
  }

  &-stroke {
    position: relative;
    width: 0;
    height: 100%;
    border-radius: 24px;
    transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
  }

  &-active {
    background-color: @blue-3;
  }

  &-success {
    background-color: @green-3;

    &-icon {
      color: @green-3;
    }
  }

  &-exception {
    background-color: @red-3;

    &-icon {
      color: @red-3;
    }
  }

  &-animate {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      border-radius: 999px;
      opacity: 0;
      animation: progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
      content: '';
    }
  }

  &-info {
    display: flex;
    align-items: center;
    margin-left: 16px;
    white-space: nowrap;
    .@{progress-prefix-cls}-icon {
      margin-left: 8px;
    }
  }
}

@keyframes progress-active {
  0% {
    width: 0;
    opacity: 0.1;
  }

  20% {
    width: 0;
    opacity: 0.5;
  }

  to {
    width: 100%;
    opacity: 0;
  }
}
@keyframes progress-active {
  0% {
    width: 0;
    opacity: 0.1;
  }

  20% {
    width: 0;
    opacity: 0.5;
  }

  to {
    width: 100%;
    opacity: 0;
  }
}
