table {
  border-spacing: 0;
  th {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    background-color: #f7f8fc;
  }
  td {
    padding: 10px 20px 15px 10px;
    font-size: 14px;
    border: 1px solid #f7f8fc;
    .gio-link {
      margin: 4px 8px;
    }
  }
}
