.gio-timerPicker {
  &-icon {
    &-left {
      & .ant-time-picker-input {
        padding-left: 26px;
      }
      & .ant-time-picker-icon {
        right: 8px;
        left: 0;
      }
    }
  }
}
