.filter-attr_select-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 325px;
  height: 520px;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  .filter-attr_select-title {
    text-align: center;
  }
  .filter-attr_select-footer {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
  }

  .gio-date-picker-range-input {
    width: 100%;
    border: none;
    .gio-input {
      width: 137px;
    }
  }

  .gio-date-picker-wrap .gio-input {
    width: 100%;
  }

  .gio-select-list {
    padding: 0;
    .gio-select-option {
      padding: 0 16px;
    }
  }

  .gio-list-wrapper {
    padding: 16px 0;
  }
}
