.popover-wrapper {
  display: inline-block;
  margin: 8px 10px;
}
.popover-span {
  display: inline-block;
  width: 100px;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--gray-2, #dfe4ee);
  border-radius: 4px;
}
