@import '../../stylesheet/variables/index.less';

@input-prefix-cls: ~'@{component-prefix}-input-new';
@textarea-prefix-cls: ~'@{component-prefix}-textarea-new';
@icon-prefix-cls: ~'@{component-prefix}-icon';

.@{input-prefix-cls} {
  box-sizing: border-box;
  height: 36px;
  padding: 6px 12px;
  color: @gray-5;
  font-family+: @font-family-primary;
  font-family+: @font-family-number;
  text-align: left;
  border: 1px solid @gray-2;
  border-radius: @radius-border-small;
  .text-body1();

  &::placeholder {
    color: @gray-2;
    .text-body1();
  }

  &:not([disabled]):hover {
    border: 1px solid @blue-3;
  }

  &:not([disabled]):focus {
    border: 1px solid @blue-3;
    outline: none;
  }

  &:disabled {
    color: @gray-3;
    background-color: @gray-1;
    border: 1px solid @gray-2;
    cursor: not-allowed;
    &:hover {
      background-color: @gray-1;
      border: 1px solid @gray-2;
    }
  }
  &__small {
    height: 30px;
    padding: 3px 12px;
  }
  &__error {
    border: 1px solid @red-3;
  }

  &__suffix {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 12px;

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      .@{input-prefix-cls} {
        padding-right: 36px;
      }
    }

    .@{icon-prefix-cls} {
      cursor: pointer;
      svg {
        width: 14px;
        height: 14px;
        color: @gray-3;
      }
    }
  }

  &__prefix {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 12px;

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      .@{input-prefix-cls} {
        padding-left: 34px;
      }
    }

    .@{icon-prefix-cls} {
      cursor: pointer;
      svg {
        width: 14px;
        height: 14px;
        color: @gray-5;
      }
    }
  }
}

.@{textarea-prefix-cls} {
  height: auto;
  min-height: 36px;
  resize: vertical;
}
