@import '../../stylesheet/variables/index.less';

@input-prefix-cls: ~'@{component-prefix}-input-new';
@textarea-prefix-cls: ~'@{component-prefix}-textarea-new';
@icon-prefix-cls: ~'@{component-prefix}-icon';

.@{input-prefix-cls} {
  display: inline-flex;
  box-sizing: border-box;
  height: 36px;
  padding: 0 8px;
  border: 1px solid @gray-2;
  border-radius: @radius-border-small;
  .text-body1();

  & > input {
    width: 100%;
    padding: 0;
    background-color: #00000000;
    border: none;
    text-align: left;
    overflow: hidden;
    color: @gray-5;
    font-family+: @font-family-primary;
    font-family+: @font-family-number;
    &:not([disabled]):hover,
    &:not([disabled]):focus {
      border: none;
      outline: none;
    }
    &:not([disabled])::placeholder {
      color: @gray-2;
      .text-body1();
    }
  }

  &::placeholder {
    color: @gray-2;
    .text-body1();
  }

  &:not([disabled]):focus {
    border: 1px solid @blue-3;
    outline: none;
  }

  &__hover {
    &:not([disabled]):hover {
      border: 1px solid @blue-3;
    }
  }

  &__disabled {
    background-color: @gray-1;
    border: 1px solid @gray-2;
    cursor: not-allowed;
    &:hover {
      background-color: @gray-1;
      border: 1px solid @gray-2;
    }
    & > input {
      color: @gray-3;
      cursor: not-allowed;
    }
    &__suffix,
    &__prefix {
      cursor: not-allowed;
    }
  }
  &__small {
    height: 30px;
  }
  &__error {
    border: 1px solid @red-3;
  }

  &__suffix {
    margin: 0 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .@{icon-prefix-cls} {
      cursor: pointer;
      svg {
        width: 14px;
        height: 14px;
        color: @gray-3;
      }
    }
  }

  &__prefix {
    margin: 0 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .@{icon-prefix-cls} {
      cursor: pointer;
      svg {
        width: 14px;
        height: 14px;
        color: @gray-5;
      }
    }
  }
}

.@{textarea-prefix-cls} {
  height: auto;
  min-height: 36px;
  resize: vertical;
  color: @gray-5;
  font-family+: @font-family-primary;
  font-family+: @font-family-number;
  .text-body1();
  &:disabled {
    background-color: @gray-1;
  }
}
