@import '../../stylesheet/variables/index.less';
@import (reference) '../../input/style/index.less';

@input-btn-prefix-cls: ~'@{component-prefix}-input-btn';
@icon-prefix-cls: ~'@{component-prefix}-input__prefix';

@input-btn-input-prefix-cls: ~'@{component-prefix}-input-btn';

.@{input-prefix-cls}.@{input-btn-input-prefix-cls} {
  input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  background-color: @gray-0;
  cursor: pointer;

  &:not([disabled])::placeholder {
    color: @gray-5;
    .text-body1();
  }
  &:not(&__disabled) &__hover,
  &:not(&__disabled) &__active,
  &:not(&__disabled):hover {
    color: @blue-3;
    background-color: @gray-1;
    border: 1px solid @gray-2;

    .@{icon-prefix-cls} {
      svg {
        color: @blue-3;
        // cursor: not-allowed;
      }
    }
    input {
      color: @blue-3;
      cursor: pointer;
    }
  }
  &:is([disabled]):hover {
    color: @gray-3;
    border: 1px solid @gray-2;
  }

  &:not(&__disabled):focus {
    border: 1px solid @gray-2;
    outline: none;
  }
  &__disabled {
    background-color: @gray-0;
    cursor: not-allowed;
    input {
      color: @gray-3;
    }
    svg {
      color: @gray-3;
      cursor: not-allowed;
    }

    &:hover {
      .@{input-btn-input-prefix-cls} {
        color: @gray-3;
        background-color: @gray-0;
        cursor: not-allowed;
      }
      .@{input-prefix-cls} {
        &__prefix {
          color: @gray-3;
          cursor: not-allowed;
          svg {
            color: @gray-3;
            cursor: not-allowed;
          }
        }

        &__suffix {
          cursor: not-allowed;
        }
      }
    }

    .@{input-btn-input-prefix-cls} {
      background-color: @gray-0;
    }
    .@{input-prefix-cls} {
      &__prefix-disabled {
        color: @gray-3;
        cursor: not-allowed;
        svg {
          color: @gray-3;
          cursor: not-allowed;
        }
      }
    }
  }
}
