@import '../../stylesheet/index.less';
@import '../../stylesheet/mixin/border.less';
@import '../../stylesheet/mixin/elevation.less';

@input-btn-prefix-cls: ~'@{component-prefix}-input-btn-new';
@icon-prefix-cls: ~'@{component-prefix}-input-new__prefix';
@input-prefix-cls: ~'@{component-prefix}-input-new';

.@{input-btn-prefix-cls} {
  .@{input-prefix-cls} {
    &:not([disabled])::placeholder {
      color: @gray-5;
      font-size: @font-size-base;
    }
    &:disabled {
      color: @gray-3;
      background-color: @gray-0;
      &::placeholder {
        color: @gray-3;
        font-size: @font-size-base;
      }
      &:hover {
        color: @gray-3;
        background-color: @gray-0;
        &::placeholder {
          color: @gray-3;
        }
      }
    }

    &:not([disabled]):focus {
      border: 1px solid @gray-2;
      outline: none;
    }
  }
  &:hover {
    .@{input-prefix-cls}:not([disabled]) {
      color: @blue-3;
      &:not([disabled])::placeholder {
        color: @blue-3;
      }

      &:not([disabled]):hover {
        color: @blue-3;
        border: 1px solid @gray-2;
      }
    }
    .@{icon-prefix-cls} {
      color: @blue-3;
      cursor: auto;
      svg {
        color: @blue-3;
        cursor: auto;
      }
    }
  }
  &__disabled {
    svg {
      color: @gray-3 !important;
      cursor: not-allowed;
    }

    &:hover {
      .@{input-prefix-cls} {
        color: @gray-3 !important;
      }
    }

    .@{input-prefix-cls} {
      color: @gray-3;
      background-color: @gray-0;
      cursor: not-allowed;
      &::placeholder {
        color: @gray-3 !important;
        font-size: @font-size-base;
      }
      &:hover {
        color: @gray-3 !important;
        background-color: @gray-0 !important;
        &::placeholder {
          color: @gray-3;
        }
      }
    }
  }
}
