name: Continuous Integration
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  scan:
    name: Code Scanning
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language: ['javascript']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Checkout the head
        run: git checkout HEAD^2
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: ${{ matrix.language }}
      - name: Autobuild
        uses: github/codeql-action/autobuild@v1
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '1'
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 12.x
      - name: Cache Node.js modules
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Bootstrap
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: yarn bootstrap
  lint:
    name: Lint Checks
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '1'
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 12.x
      - name: Restore Node.js modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Lint pull request title
        run: echo "${{ github.event.pull_request.title }}" | npx commitlint
      - name: Lint commits count
        if: ${{ github.event.pull_request.commits > 3 }}
        run: echo "::error::The commits of pull request should not be more than 3 && exit 1"
      - name: StyleLint
        run: yarn lint:style
      - name: ESLint
        run: yarn lint:components
  build:
    name: Build Packages
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '1'
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 12.x
      - name: Restore Node.js modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Cache packages
        uses: actions/cache@v2
        with:
          path: |
            packages/components/dist
            packages/components/es
            packages/icons/dist
            packages/icons/es
            packages/tokens/dist
          key: packages-${{ github.sha }}
      - name: Build
        run: yarn build
  review:
    name: UI Review
    if: ${{ !startsWith(github.event.pull_request.title, 'chore') }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 12.x
      - name: Restore Node.js modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Restore packages from cache
        uses: actions/cache@v2
        with:
          path: |
            packages/components/dist
            packages/components/es
            packages/icons/dist
            packages/icons/es
            packages/tokens/dist
          key: packages-${{ github.sha }}
      - name: Build Storybook
        run: yarn build-storybook
      - name: Upload to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: no8vpz82l1j
          storybookBuildDir: packages/components/storybook-static/
          exitZeroOnChanges: true
  test:
    name: Test Coverage
    if: ${{ !(startsWith(github.event.pull_request.title, 'chore') || startsWith(github.event.pull_request.title, 'docs')) }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '1'
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 12.x
      - name: Restore Node.js modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Restore packages from cache
        uses: actions/cache@v2
        with:
          path: |
            packages/components/dist
            packages/components/es
            packages/icons/dist
            packages/icons/es
            packages/tokens/dist
          key: packages-${{ github.sha }}
      - name: Test
        run: yarn test --coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          directory: ./packages/components/coverage/
