name: Continuous Integration
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Restore lerna
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Preset Permission
        with:
          cmd: npm config set unsafe-perm true
      - name: Bootstrap
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: bootstrap

      - name: Build packages
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build

      - name: Lint
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: lint

      - name: Test
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: test
