@import '../../../stylesheet/index.less';

@table-prefix-cls-legacy: ~'@{component-prefix}-table-legacy';
@checkbox-prefix-cls-legacy: ~'@{component-prefix}-checkbox';
@popover-prefix-cls-legacy: ~'@{component-prefix}-popover';
@empty-prefix-cls-legacy: ~'@{component-prefix}-empty-legacy';

.@{table-prefix-cls-legacy} {
  font-size: @size-font-14;
  text-align: left;
  &-title {
    margin-bottom: 20px;
    color: @color-text-table-head;
    font-weight: @weight-font-medium;
    font-size: @size-font-16;
    line-height: 24px;
  }

  & &-container {
    position: relative;
    table {
      position: relative;
      width: 100%;
      font-size: @size-font-14;
      line-height: 22px;
      letter-spacing: 0;
      border-style: hidden;
      border-radius: 4px;
      border-collapse: separate;
      border-spacing: 0;
    }
  }
  // hack
  &-fixed-header &-container,
  &-fixed-column &-container {
    border-radius: @radius-border-small;
  }

  &-fixed-header &-container > &-body > table {
    border-style: hidden;
    box-shadow: unset;
  }

  &-fixed-header &-container > &-header,
  &-fixed-column &-container > &-content {
    border-top-left-radius: @radius-border-small;
    border-top-right-radius: @radius-border-small;
  }
  &-fixed-header &-container > &-body,
  &-fixed-column &-container > &-content {
    border-bottom-right-radius: @radius-border-small;
    border-bottom-left-radius: @radius-border-small;
  }
  &-fixed-header &-container &-tbody > tr:nth-child(2) > td,
  &-fixed-column &-container &-tbody > tr:nth-child(2) > td {
    border-top: unset;
  }

  &-thead > tr {
    color: @color-text-table-head;
    font-weight: @weight-font-medium;
    vertical-align: middle;
  }

  &-thead > tr:first-child > &-cell {
    border-top: 0.5px solid @color-border-table;
    &:first-child {
      border-top-left-radius: @radius-border-small;
    }
    &:last-child {
      border-top-right-radius: @radius-border-small;
    }
  }

  &-thead > tr > &-cell {
    vertical-align: middle;
    background-color: @color-background-table-head;
    border-bottom: 0.5px solid @color-border-table;
    &:first-child {
      border-left: 0.5px solid @color-border-table;
    }
    &:last-child {
      border-right: 0.5px solid @color-border-table;

      .@{table-prefix-cls-legacy}-resizable-handle {
        display: none;
      }
    }
    .gio-checkbox-wrapper + .@{table-prefix-cls-legacy}-resizable-handle {
      display: none;
    }

    &:hover {
      .@{table-prefix-cls-legacy}-resizable-handle {
        background: #5f87ff;
      }
    }
  }

  &-tbody > tr {
    color: @color-text-table-body;
  }

  &-tbody > tr:last-child > &-cell {
    &:first-child {
      border-bottom-left-radius: @radius-border-small;
    }
    &:last-child {
      border-bottom-right-radius: @radius-border-small;
    }
  }

  &-tbody > tr > &-cell {
    overflow-wrap: break-word;
    background-color: @color-background-table-body;
    border-top: unset;
    border-right: unset;
    border-bottom: 0.5px solid @color-border-table;
    border-left: unset;
    &:first-child {
      border-left: 0.5px solid @color-border-table;
    }
    &:last-child {
      border-right: 0.5px solid @color-border-table;
    }
  }

  &-tbody > &-row-selected > &-cell {
    background-color: #edf2fc;
    transition: background-color 0.3s ease-in-out;
  }

  &-showHover &-tbody > tr {
    &:hover {
      td {
        background-color: @color-background-table-hover;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }

  &-showHover &-tbody .@{table-prefix-cls-legacy}-expanded-row:hover {
    td {
      background-color: unset;
    }
  }

  &-cell {
    box-sizing: border-box;
    &-scrollbar {
      position: relative;
      padding: 0 !important;
    }
    &-ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &-fix-left,
    &-fix-right {
      z-index: @zindex-table-fixed;
    }

    // overflow: hidden cause :after box-shadow not work;
    &-ellipsis&-fix-left-last,
    &-ellipsis&-fix-right-first {
      overflow: visible;
    }
    &-ellipsis&-fix-left-last > &-content,
    &-ellipsis&-fix-right-first > &-content {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-fix-left-last {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        width: 30px;
        transform: translateX(100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
      }
    }
    &-fix-right-first {
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 20px;
        transform: translateX(-100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
      }
    }

    .@{checkbox-prefix-cls-legacy} {
      & + span {
        display: block;
        width: 16px;
        height: 16px;
        margin: -16px 0 0 0;
      }
      &-wrapper {
        height: 16px;
        line-height: 0;
      }
      &-icon {
        top: 4px;
      }
      &-input {
        margin: 0;
      }
    }
  }
  // hack
  &-thead &-cell-fix-right-first {
    &::after {
      left: -1px;
    }
  }

  &-ping-left &-cell&-cell-fix-left-last {
    border-right: unset;
    &::after {
      box-shadow: @shadow-table-right-shadow;
    }
  }
  &-ping-right &-cell&-cell-fix-right-first::after {
    box-shadow: @shadow-table-left-shadow;
  }

  &-column-title {
    display: flex;
    align-items: center;
    height: 18px;
    &-info {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin-left: 8px;
      .gio-icon {
        vertical-align: 0;
      }
    }
  }

  &-column-title-align-left {
    justify-content: flex-start;
  }

  &-column-title-align-center {
    justify-content: center;
  }

  &-column-title-align-right {
    justify-content: flex-end;
  }

  &-column-filter {
    height: 100%;
    margin-top: -6px;
    margin-left: 2px;
    &-inner {
      width: 24px;
      height: 24px;
    }
  }

  &-column-sorter {
    height: 100%;
    margin-left: 8px;
    &-inner {
      display: inline-block;
      width: 16px;
      height: 100%;
      text-align: center;
      &-btn {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }

    &-up {
      top: 0;
      margin-bottom: 8px;
    }
    &-down {
      bottom: 9px;
    }
    &-up,
    &-down {
      position: relative;
      width: 12px;
      height: 50%;
      color: @color-background-table-arrow-normal;
      &.active {
        color: @color-background-table-arrow-active;
      }
      svg {
        position: relative;
        top: -3px;
        left: -2px;
      }
    }
  }

  &-showHover &-placeholder:hover > &-cell {
    background-color: unset;
  }

  &-showHover &-placeholder > &-cell {
    border-top-left-radius: @radius-border-small;
    border-top-right-radius: @radius-border-small;
  }

  &-showHover &-thead + &-tbody &-placeholder > &-cell {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &-wrapper {
    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
  &-pagination {
    float: right;
    margin: 16px 0;
  }

  &-tbody > &-placeholder > &-cell {
    padding: 0;
  }

  &-empty {
    margin: 60px auto;
  }

  &-filter {
    &-popover {
      .@{popover-prefix-cls-legacy}-inner-content {
        width: 220px;
        margin: 16px 16px 0;
      }
      &-footer {
        padding: 8px 16px;
        border-top: 1px solid #dfe4ee;
      }
    }

    &-list {
      width: 220px;
      height: 160px;
      padding: 16px 8px;
      overflow: auto;
      &-item {
        line-height: 22px;
        .@{checkbox-prefix-cls-legacy} {
          margin-right: 10px;
        }
      }
    }
  }

  &-row-expand-icon-cell {
    width: 64px;
    text-align: center;

    .@{table-prefix-cls-legacy}-expanded-icon {
      background: #f1f2f8;
      border-radius: 4px;
    }
  }

  &-expanded-placeholder {
    display: inline-block;
    width: 24px;
    height: 1px;
    margin-right: 8px;
  }

  &-expanded-icon,
  &-to_expand-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    line-height: 24px;
    cursor: pointer;
  }

  &-expanded-row-fixed {
    box-sizing: border-box;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-right: 1px solid #ebedf5;
      content: '';
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px solid #ebedf5;
      content: '';
    }
  }
  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  &-resizable-handle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 4px;
    height: 100%;
    cursor: col-resize;
  }

  &-drag-container {
    display: inline-flex;
    align-items: center;
  }

  &-drag-handle {
    margin-right: 8px;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }

    &-disabled {
      display: none;
    }
  }

  &-drag-helper {
    z-index: 999;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
    background: #f7f8fc;
    border-top: 1px solid #ebedf5;
    border-bottom: 1px solid #ebedf5;
  }
}

.table-size(@size, @padding-vertical, @padding-horizontal) {
  .@{table-prefix-cls-legacy}.@{table-prefix-cls-legacy}-@{size} {
    .@{table-prefix-cls-legacy}-title,
    .@{table-prefix-cls-legacy}-footer,
    .@{table-prefix-cls-legacy}-thead > tr > th,
    .@{table-prefix-cls-legacy}-tbody > tr > td,
    tfoot > tr > th,
    tfoot > tr > td {
      padding: @padding-vertical @padding-horizontal;
    }

    .@{table-prefix-cls-legacy}-tbody .@{table-prefix-cls-legacy}-row-expand-icon-cell {
      padding: calc(@padding-vertical - 1px) 20px;
    }

    .@{table-prefix-cls-legacy}-tbody .@{table-prefix-cls-legacy}-expanded-row > .@{table-prefix-cls-legacy}-cell {
      padding: @padding-vertical 20px;

      .@{table-prefix-cls-legacy}-expanded-row-fixed {
        margin: -@padding-vertical -21px;
        padding: @padding-vertical 20px;
      }
    }

    .@{table-prefix-cls-legacy}-tbody .@{table-prefix-cls-legacy}-cell-with-append {
      padding: calc(@padding-vertical - 1px) 16px;

      .@{table-prefix-cls-legacy}-row-indent {
        float: left;
        height: 1px;
      }

      .@{table-prefix-cls-legacy}-expanded-icon {
        background: #f1f2f8;
        border-radius: 4px;
      }
    }
  }
}

.table-size(~'default', 14px, 16px);

.table-size(~'small', 9px, 16px);
