@import '../../../stylesheet/theme.less';
@import '~@gio-design/tokens/dist/variables.less';
@tab-prefix-cls: ~'@{component-prefix}-tabs';

.@{tab-prefix-cls} {
  font-weight: 400;
  &-sm{
    .@{tab-prefix-cls}-tab{
      height: 30px;
    }
    &.@{tab-prefix-cls}-block{
      .@{tab-prefix-cls}-nav-list{
        .@{tab-prefix-cls}-ink-bar{
          height: 30px;
        } 
      }
    }
  }
  &-md{
    .@{tab-prefix-cls}-tab{
      height: 36px;
    }
    &.@{tab-prefix-cls}-block{
      .@{tab-prefix-cls}-nav-list{
        .@{tab-prefix-cls}-ink-bar{
          height: 36px;
        } 
      }
    }
  }
  &-lg{
    .@{tab-prefix-cls}-tab{
      height: 40px;
    }
    &.@{tab-prefix-cls}-block{
      .@{tab-prefix-cls}-nav-list{
        .@{tab-prefix-cls}-ink-bar{
          height: 40px;
        } 
      }
    }
  }
  &-nav{
    height: 40px;
    margin-bottom: 16px;
  }
  &-nav-wrap{
  }
  &-nav-list{
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &-tab{
    cursor: pointer;
    display: inline-flex;
    color: @color-text-tabs-normal;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-clip: padding-box;
    border-radius: 3px;
    padding: 0px 16px;
    line-height: 22px;
    font-size: 14px;
    outline: none;
    &-btn{
      outline: none;
      line-height: 0;
    }
    &:hover{
      background-color: @color-background-tabs-hover;
    }
    &:active{
      background-color: @color-background-tabs-click;
    }
  }
  &-tab-active{
    
    &:hover{
      background-color:  transparent;
      color: @color-text-tabs-active;
    }
    svg{
      color: @color-text-tabs-normal;
    } 
  }
  &-tab-disabled{
    color: @color-text-tabs-disable;
    cursor: not-allowed;
    &:hover{
      background-color: @color-background-tabs-hover;
    }
    svg{
      color: @color-text-tabs-disable;
    }
  }

  &-block{
    .@{tab-prefix-cls}-nav-list{
      background-color: @color-background-tabs-normal;
      padding: 1px;
      .@{tab-prefix-cls}-tab{
        margin-left: 1px;
        border: none;
        position: relative;
        z-index: 1;
        &:first-child{
          margin-left: 0;
        }
        &-disabled{
          &:hover{
            background-color: @color-background-tabs-hover;
          }
        }
      }
      .@{tab-prefix-cls}-ink-bar{
        position: absolute;
        top: 0;
        box-shadow: @shadow-tabs;
        background-color: @color-background-tabs-active;
        z-index: 0;
        border-radius: 3px;
        position: absolute;
        margin-top: 1px;
        transition: all .2s ease-in-out;
        background-clip: content-box;
      }
    }
  }

  &-line{
    .@{tab-prefix-cls}-tab{
      border: none;
      transition: background-color .25s;
      &:not(:first-child){
        margin: 0;
        margin-left: 8px;
      }
      &-active{
        background-color: #FFFFFF;
      }
      &-disabled{
        background-color: transparent;  
        &:hover{
          background-color: @color-background-tabs-hover;
        }
      }
    }
    .@{tab-prefix-cls}-ink-bar{
      height: 2px;
      top: 100%;
      background-color: @color-text-tabs-active;
      border-radius: 3px;
      position: absolute;
      transition: width .2s,left .2s,right .2s;
    }
  }
  &-content-holder{
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    min-width: 0;
    min-height: 0;
  }
  &-content{
    width: 100%;
    display: flex;
  }
  &-tabpane{
    width: 100%;
    flex: none;
    outline: none;
  }
  &-extra-content{
    position: relative;
    div{
      height: 1px;
      width: 100%;
      position: absolute;
    }
  }
}


